/*
Theme Name: Hautlac (2015)
Theme URI: http://www.potenzaglobalsolutions.com
Author: teamWP, Potenza Global Solutions
Author URI: http://www.potenzaglobalsolutions.com
Description: A Child Theme of Twenty thirteen Theme for Hautlac.
Version: 2.0.0
Template: twentythirteen
Text Domain: twentythirteen
Domain Path: /languages/
Tags: light, gray, white, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import "../twentythirteen/style.css";
@import "css/style.css";

body {
    padding: 0;
    margin: 0;
    font-family: "Myriad Pro";
    font-size: 13px;
    color: #666;
    overflow-x: hidden
}

.wrapper {
    width: 1000px;
    margin: 0 auto
}

.site {
    max-width: 100%
}

h1, h2, h3, ul {
    padding: 0;
    margin: 0
}

.clr {
    clear: both
}

@font-face {
    font-family: 'Conv_oswald.regular';
    src: url(fonts/oswald.regular.eot);
    src: local(?), url(fonts/oswald.regular.woff) format("woff"), url(fonts/oswald.regular.ttf) format("truetype"), url(fonts/oswald.regular.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

.site-header {
    background: #fff url(images/header_top_bg.jpg) repeat-x 0 bottom;
    display: inline-block;
    width: 100% !important;
    margin-bottom: 1px;
    height: auto !important
}

.site-header .header_left {
    float: left;
    width: 20%;
    margin: 15px 0
}

.site-header .header_left .site-logo a img {
    height: auto !important;
    width: auto !important
}

.site-header .header_right {
    float: right;
    width: 60%;
    margin: 0;
    position: relative;
    text-align: right
}

.header_right .widget h3.widget-title {
    text-transform: uppercase;
    text-align: right;
    display: none;
    font-family: "Myriad Pro";
    font-size: 13px;
    font-style: normal;
    margin-bottom: 0;
    padding-right: 11px;
    color: #999
}

.header_right .widget.widget_text h3.widget-title {
    padding-right: 0
}

.header_right .widget, .navbar .widget {
    float: none;
    background: 0 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%
}

.header_right .widget.widget_social_widget {
    top: 0 !important
}

.header_right .widget ul {
    background: 0 0;
    display: inline-block;
    padding: 0;
    position: inherit !important
}

.header_right .widget.widget_qtranslateslug {
    position: absolute;
    bottom: -85px;
    right: 0;
    z-index: 9;
    width: 100px
}

.header_right .widget.widget_qtranslateslug ul {
    position: static !important
}

.header_right .widget.qtrans_language_chooser {
    position: inherit !important
}

.header_right .widget ul li {
    float: left;
    list-style: none
}

.header_right .widget ul li a {
    display: inline-block
}

.header_right .widget ul li {
    margin-right: 9px;
    line-height: 0;
    padding: 0
}

.header_right .widget ul li:last-child {
    margin-right: 0
}

.header_right .widget ul.social_icon li a {
    height: 29px;
    width: 28px;
    font-size: 0
}

.header_right .widget ul.social_icon li a.facebook {
    background: url(images/feacbook_icon.jpg) no-repeat 0 0
}

.header_right .widget ul.social_icon li a.twitter {
    background: url(images/twitter_icon.jpg) no-repeat 0 0
}

.header_right .widget ul.social_icon li a.linkedin {
    background: url(images/linkedin_icon.jpg) no-repeat 0 0
}

.header_right .blog_apps.connect_with_us ul li a.google_plus, .header_right .widget ul.social_icon li a.google_plus {
    background: url(images/google_plus_icon.jpg) no-repeat 0 0
}

.is-sticky .navbar {
    z-index: 9999
}

body.admin-bar .is-sticky #navbar {
    top: 32px !important;
}

.widget.qtranxs_widget,
.widget.widget_qtranslateslug {
    top: 5.5px;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 70px;
    float: none;
    text-align: right;
    background: 0 0;
    padding: 0;
    margin: 0
}

.widget.qtranxs_widget {
    width: 74px;
}

.qtranxs_widget ul li,
.widget_qtranslateslug ul li {
    line-height: 0;
    margin-left: 3px;
    padding: 0;
    float: left
}

.qtranxs_widget h3.widget-title,
.widget_qtranslateslug h3.widget-title {
    display: none
}

.qtranxs_text.qtranxs_text_en > span {
    display: block;
    height: 32px;
    width: 32px;
}

.widget .qtranxs_language_chooser li a span,
.widget .qtrans_language_chooser li a span {
    font-size: 0;
    height: 32px;
    width: 32px;
    display: inline-block
}

.widget .qtranxs_language_chooser .lang-en a span,
.widget .qtrans_language_chooser .lang-en a span {
    background: url(images/flag2.png) no-repeat 0 0
}

.widget .qtranxs_language_chooser .lang-fr a span,
.widget .qtrans_language_chooser .lang-fr a span {
    background: url(images/flag1.png) no-repeat 0 0
}

.header_right .widget .textwidget {
    width: auto;
    height: 30px;
    margin: 5px 0 0 11px
}

.navbar .widget .search-form {
    position: inherit !important;
    right: 0;
    top: 0;
    margin-top: 5px;
    background: 0 0;
    float: right;
    padding-right: 0;
    width: 164px
}

.navbar .widget .search-form label {
    float: left;
    display: inline-block
}

.navbar .widget .search-form .search-field {
    border: 0 none;
    margin: 0 0 0 11px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    font-family: "Myriad Pro";
    width: 124px;
    background: #0a6cce;
    padding: 0 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.navbar .widget .search-form .search-submit {
    display: block;
    background: url(images/search_icon_img.jpg) no-repeat right center;
    margin: 0 0 0 11px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    color: #999;
    font-family: "Myriad Pro";
    width: 29px;
    border: none;
    font-size: 0
}

.navbar .widget .search-form .search-field:focus {
    border: none
}

.widget_text a.login {
    background: #3a8b25;
    color: #fff;
    padding: 3px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.widget_text a.login:hover {
    text-decoration: none
}

#text-9 .textwidget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #b2b2b2
}

#text-9 {
    position: absolute;
    right: 56%;
    top: 60%;
    width: 70%
}

.navbar .widget.widget_search {
    position: absolute;
    right: 85px;
    top: 7.5px;
    z-index: 9
}

.navbar .widget.widget_search .widget-title {
    display: none
}

.navbar {
    background: #004990 url(images/navbar_bg.jpg) repeat-x 0 bottom;
    margin-top: -5px;
    max-width: 100%;
    margin-bottom: 1px
}

div.nav-menu > ul, ul.nav-menu {
    padding: 0;
    margin: 0
}

.nav-menu li {
    background: url(images/navbar_sep.jpg) no-repeat right 0;
    float: left
}

.nav-menu li a {
    color: #fff;
    padding: 18px 20px
}

.dummylayer {
    background: none repeat scroll 0 0 #060;
    padding-bottom: 10px;
    position: absolute;
    top: 51px;
    width: 99.5%;
    z-index: 99
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .nav-menu li a {
        color: #fff;
        padding: 18px 20px
    }

    .dummylayer {
        width: 98.2%
    }
}

.nav-menu li a:hover, .nav-menu li:hover > a {
    background: #3a8b25 url(images/navbar_bg_active.jpg) repeat-x 0 bottom
}

.nav-menu .current-menu-ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current_page_item > a {
    background: #3a8b25 url(images/navbar_bg_active.jpg) repeat-x 0 bottom;
    color: #fff;
    font-style: normal
}

.nav-menu .children, .nav-menu .sub-menu {
    border: none;
    background: #004890 !important
}

.nav-menu .children li, .nav-menu .sub-menu {
    background: 0 0
}

.nav-menu .children li a, .nav-menu .sub-menu {
    padding: 12px 18px
}

.nav-menu ul ul a:hover, ul.nav-menu ul a:hover {
    background: url(images/navbar_bg_active.jpg) repeat-x 0 bottom
}

.nav-menu ul ul a, ul.nav-menu ul a {
    width: 217px
}

.nav-menu li ul.sub-menu {
    padding: 0;
    margin-top: 0;
    border-top: 1px solid #fff
}

.nav-menu li ul.sub-menu li ul.sub-menu {
    border-top: none
}

.nav-menu li ul.sub-menu li {
    background: 0 0
}

.nav-menu li ul.sub-menu li a {
    padding: 12px 18px
}

.nav-menu.menu_new .sub-menu {
    background: none !important;
    border-top: none;
    padding-top: 15px
}

.nav-menu.menu_new > li > .sub-menu > li > .sub-menu {
    display: none !important
}

.nav-menu.menu_new li ul.sub-menu li a {
    font-size: 12px;
    padding: 5px 4px;
    width: auto
}

.nav-menu.menu_new li ul.sub-menu li a:hover {
    text-decoration: none;
    color: #fff
}

.nav-menu.menu_new li:hover > ul, .nav-menu.menu_new ul li:hover > ul {
    display: inherit
}

.nav-menu.menu_new ul a:hover, .nav-menu.menu_new ul ul a:hover {
    background: 0 0;
    text-decoration: underline
}

.sticky-wrapper {
    height: 52px !important
}

.responsive-slider.flexslider {
    margin-bottom: 1px
}

.responsive-slider.flexslider .slides img {
    width: 100%
}

.responsive-slider.flexslider .flex-direction-nav li a {
    background: url(images/slider_next_prev_but.png) no-repeat 0 0 !important;
    opacity: 1;
    height: 64px !important;
    width: 64px !important
}

.responsive-slider.flexslider .flex-direction-nav li .next {
    background-position: 0 -64px !important
}

.responsive-slider.flexslider .flex-control-nav {
    background: url(images/slider_bullte_bg.jpg) repeat-x 0 0;
    left: 42%;
    right: 56%;
    bottom: -3% !important;
    z-index: 99;
    width: 19% !important;
    padding: 9px 47px 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.responsive-slider.flexslider .flex-control-nav li a {
    background: url(images/slider_bullte.png) no-repeat 0 0 !important;
    height: 15px !important;
    width: 15px !important
}

.responsive-slider.flexslider .flex-control-nav li a.active, .responsive-slider.flexslider .flex-control-nav li a:hover {
    background-position: 0 -15px !important
}

.responsive-slider.flexslider .flex-control-nav li {
    margin: 0 0 0 12px !important
}

.responsive-slider.flexslider .flex-control-nav li:first-child {
    margin: 0 !important
}

.banner .banner_shadow {
    position: absolute;
    width: 99.99%;
    text-align: center;
    z-index: 9
}

.banner .responsive-slider.flexslider .slide-title a, .banner .responsive-slider.flexslider .slide-title a:hover {
    background: 0 0
}

.home .site-main {
    background: url(images/content_top_bg_img.png) repeat-x 0 0
}

.welcome_area {
    text-align: center;
    color: #fff
}

.welcome_area .welcome_tital {
    font-family: 'Conv_oswald.regular';
    font-size: 29px;
    margin-top: 46px;
    display: inline-block
}

.welcome_area p {
    font-family: "Myriad Pro";
    font-size: 20px;
    line-height: 26px;
    margin-top: 13px;
    margin-bottom: 15px
}

.welcome_area p span {
    display: block
}

a.blue_but {
    display: inline-block
}

a.blue_but span {
    background: url(images/blue_but_bg.jpg) repeat-x 0 0;
    border: 1px solid #388726;
    color: #fff;
    text-transform: uppercase;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

a.blue_but span:hover {
    color: #419438;
    text-decoration: none
}

a.blue_but span.blue_but_shadow {
    background: url(images/blue_but_shadow.png) no-repeat 0 0;
    border: none;
    display: block
}

.new_campus {
    background: #fff;
    display: inline-block;
    padding: 20px;
    margin-top: 55px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.patten_tital {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.patten_tital .patten_blog_left {
    background: url(images/tital_left_patten.png) no-repeat 0 0;
    width: 220px;
    height: 35px;
    display: inline-block
}

.patten_tital h2 {
    display: inline-block;
    text-align: center;
    font-family: Bitter, Georgia, serif;
    font-size: 26px;
    color: #336b1b;
    font-weight: bold;
}

.patten_tital .patten_blog_right {
    background: url(images/tital_right_patten.png) no-repeat 0 0;
    width: 220px;
    height: 35px;
    display: inline-block
}

.new_campus .summer {
    margin-top: 28px;
    display: inline-block;
    height: 300px;
    overflow: hidden
}

.new_campus .summer li {
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 5px;
    margin: 0 6px;
    list-style: none;
    float: left;
    width: 31.94% !important
}

.new_campus .summer li:last-child {
    margin-right: 0
}

.new_campus .nbs-flexisel-inner {
    position: relative
}

.new_campus .nbs-flexisel-inner .nbs-flexisel-nav-left {
    background: url(images/campus_pre_errow.png) no-repeat 0 0;
    width: 25px;
    height: 46px;
    display: inline-block;
    position: absolute;
    left: -50px;
    cursor: pointer;
    z-index: 999
}

.new_campus .nbs-flexisel-inner .nbs-flexisel-nav-right {
    background: url(images/campus_next_errow.png) no-repeat 0 0;
    width: 25px;
    height: 46px;
    display: inline-block;
    position: absolute;
    right: -50px;
    cursor: pointer;
    z-index: 999
}

.nbs-flexisel-container {
    position: relative;
    display: inline-block
}

.logo_slider {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 128px;
    overflow: hidden
}

.logo_slider li {
    list-style: none;
    float: left;
    width: 205px !important;
    margin-right: 23px;
    margin-left: 22px
}

.nbs-flexisel-nav-left {
    background: url(images/campus_pre_errow.png) no-repeat 0 0;
    width: 25px;
    height: 46px;
    display: inline-block;
    position: absolute;
    left: -50px;
    cursor: pointer;
    z-index: 999;
    top: 70px !important
}

.nbs-flexisel-nav-right {
    background: url(images/campus_next_errow.png) no-repeat 0 0;
    width: 25px;
    height: 46px;
    display: inline-block;
    position: absolute;
    right: -50px;
    cursor: pointer;
    z-index: 999;
    top: 70px !important
}

.school_box {
    background: #00488f url(images/school_box_bg.jpg) repeat-x 0 0;
    padding: 14px 11px 12px;
    position: relative
}

.school_box .school_tital {
    font-size: 28px;
    color: #fff;
    line-height: 23px;
    display: inline-block;
    width: 100%;
}

.school_img > img {
    max-width: 100%;
}

.school_box p {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 11px
}

.school_box .white_but {
    display: inline-block;
    /* position: absolute; */
    /* bottom: 10px; */
}

a.white_but span {
    background: url(images/white_but_bg.jpg) repeat-x 0 0;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    color: #585858;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

a.white_but span.white_but_shadow {
    background: url(images/white_but_shadow.png) no-repeat 0 0;
    display: block;
    height: 4px;
    padding: 0
}

.school_box span.school_shadow {
    background: url(images/school_img_shadow.png) no-repeat center 0;
    height: 13px;
    display: block
}

.school_information {
    float: left;
    margin-right: 13px;
    width: 24%;
}

.academics-infos-3 .school_information {
    margin-right: 13px;
    width: 32%;
}

.academics-infos-2 .school_information {
    margin-right: 20px;
    width: 49%;
}

.academics-infos-2 .school_information .school_box {
    background: #00488f;
}

.academics-infos-2 .school_information .school_img {
    float: left;
    margin: 5px;
    width: 35%;
}

.academics-infos-2 .school_information .school_data {
    float: left;
    width: 62%;
}

.school_information.last,
.school_information.third_sections {
    margin-right: 0
}

.fold {
    background: url(images/fold_img.jpg) no-repeat 0 0;
    height: 65px;
    width: 85px;
    display: inline-block;
    position: absolute;
    right: -1px;
    bottom: 0
}

.school_box .school_details, .school_box .school_tital, .school_box .white_but {
    padding: 0 7px
}

.school_information span.school_box_shadow {
    background: url(images/school_box_shadow.png) no-repeat 7px 0;
    display: inline-block;
    width: 211px;
    height: 15px;
    background-size: 160px;
}

.academics_top.school_section {
    margin-bottom: 30px
}

.bilingualism_practice {
    background: #00488f url(images/bilin_bg_patten.png) no-repeat 450px center;
    display: inline-block;
    padding: 19px 22px;
    position: relative;
    margin-top: 18px
}

.bilingualism_practice img {
    float: left;
    margin-right: 20px
}

.bilingualism_practice .bilin_tital {
    font-size: 44px;
    color: #fff;
    line-height: 42px
}

.bilingualism_practice p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 14px;
    margin-top: 5px
}

span.bilin_prac_box_shadow {
    background: url(images/bilin_shadow.png) no-repeat 24px 0;
    display: inline-block;
    width: 736px;
    height: 42px
}

.enrol_info {
    /*    background: url(images/enrol.png) repeat-x 0 0;
        padding-top: 137px;
        padding-bottom: 60px;
        margin-top: -40px !important;
        background-position: 50% 50%;*/

    background: url(images/enrol.png) no-repeat center center;
    padding-top: 137px;
    padding-bottom: 60px;
    margin-top: -40px !important;
    background-position: 50% 50%;
    /* -webkit-background-size: cover; */
    -moz-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
    /* width: 1100px; */
    /* height: 300px; */
}

.enrol_no {
    /*  background: url(images/enrol_bg_patten.png) no-repeat center 0;*/
    color: #fff;
    display: inline-block
}

.enrol_now_wp.inscri_mainte {
    text-align: center
}

.enrol_no h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: Bitter, Georgia, serif;
    color: #336B1B;
    margin-bottom: 14px;
}

.enrol_no p {
    text-align: center;
    font-size: 20px;
    line-height: 24px
}

.enrol_no p span {
    display: block;
    margin-top: 8px
}

.enrol_no .enrol_section {
    width: 32%;
    float: left
}

.enrol_no .enrol_section.last {
    margin-right: 0
}

.enrol_no .enrol_section .enrol_errow {
    float: left;
    height: 72px;
    width: 14%
}

.enrol_no .enrol_section .enrol_detils {
    float: left;
    width: 86%
}

.enrol_no .enrol_section .oder {
    font-size: 40px;
    border: 1px solid #fff;
    height: 46px;
    width: 46px;
    line-height: 44px;
    text-align: center;
    display: block;
    font-family: "Myriad Pro";
    font-weight: 400;
    margin-bottom: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.enrol_no .enrol_section .oder.dark_green {
    background: #399
}

.enrol_no .enrol_section .oder.dark_yellow {
    background: #a3a956
}

.enrol_no .enrol_section .oder.dark_red {
    background: #c66
}

.enrol_no .enrol_section a.oder {
    font-size: 15px;
    height: 28px;
    width: 92px;
    line-height: 26px;
    color: #fff;
    display: block;
    margin-left: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.enrol_no .enrol_section h3 {
    font-size: 24px;
    display: block;
    line-height: 30px;
    min-height: 60px;
    width: 100%;
    /* background: url(images/enrol_box_errow.png) no-repeat 0 20px; */
    padding-left: 45px;
    padding-top: 146px;
    color: #323232;
    font-family: Bitter, Georgia, serifBitter, Georgia, serif;
    font-size: 27px;
    font-weight: 600;
}

.enrol_no .school_serv_1 {
    background: url(images/bus.png) no-repeat;
    text-align: center;
    background-position: 56% 0;
}

.enrol_no .school_serv_2 {
    background: url(images/hour.png) no-repeat;
    text-align: center;
    background-position: 56% 0;

}

.enrol_no .school_serv_3 {
    background: url(images/ball.png) no-repeat;
    text-align: center;
    background-position: 56% 0;

}

.enrol_no .enrol_section p {
    line-height: 18px;
    font-size: 15px;
    display: block;
    text-align: left
}

a.grey_but {
    display: inline-block;
    margin-top: 20px
}

a.grey_but span {
    background: url(images/grey_but_bg.jpg) repeat-x 0 0;
    height: 63px;
    line-height: 63px;
    padding: 0 34px;
    display: inline-block;
    color: #fff;
    margin-top: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Bitter, Georgia, serif;
    font-size: 27px;
    background: #336B1B;
}

a.grey_but span.grey_but_shadow {
    background: url(images/grey_but_shadow.png) no-repeat 0 0;
    width: 275px;
    height: 23px;
    display: block
}

.enrol_no .enrol_sevtion_content {
    display: inline-block;
    padding-left: 45px;
    margin-bottom: 10px
}

.enrol_no .enrol_sevtion_content p {
    margin-top: 5px
}

.enrol_no .enrol_title {
    text-align: center
}

.enrol_no .enrol_title_tagline {
    font-size: 18px;
    line-height: 24px
}

.enrol_no .enrol_title_tagline span {
    display: block;
    position: inherit !important;
    margin-top: 21px
}

.widget.rpwe_widget {
    padding: 0;
    background: 0 0;
    display: inline-block
}

.rpwe-block .rpwe-title {
    color: #336b1b !important;
    font-family: 'Conv_oswald.regular';
    font-size: 21px !important;
    padding-top: 7px
}

.rpwe-block .rpwe-title a {
    color: #336b1b !important
}

.rpwe-ul .rpwe-clearfix {
    width: 30.8%;
    margin-right: 37px;
    float: left;
    border-bottom: none;
    margin-bottom: 0
}

.rpwe-ul .rpwe-clearfix:last-child {
    margin-right: 0
}

.rpwe-clearfix .rpwe-summary {
    font-size: 14px;
    display: inline-block;
    padding: 0;
    margin-top: 5px
}

.rpwe-clearfix .rpwe-summary p {
    height: 68px;
    overflow: hidden;
    margin-bottom: 5px
}

.rpwe_widget .patten_tital h2 {
    font-size: 60px;
    font-family: "Myriad Pro";
    color: #5a5a5a;
    font-weight: 400
}

.latesnews_link a.more-link {
    background: url(images/red_more_add_icon.png) no-repeat 0 center;
    padding-left: 17px;
    float: left;
    color: #3c9229;
    font-size: 13px;
    margin-right: 15px
}

.latesnews_link .comment {
    background: url(images/comment_icon.png) no-repeat 0 center;
    padding-left: 25px;
    margin-right: 15px;
    color: #3c9229;
    font-size: 13px;
    float: left
}

.rpwe-summary .rpwe-time.published {
    background: url(images/time_icon.png) no-repeat 0 center;
    color: hsl(109, 56%, 37%);
    float: left;
    font-size: 14px;
    padding-left: 24px;
}

.latesnews_link .rpwe-time {
    background: url(images/time_icon.png) no-repeat 0 center;
    padding-left: 19px;
    float: left;
    font-size: 14px;
    color: #3c9229
}

.rpwe_widget .patten_tital {
    margin-bottom: 0;
    margin-top: -45px
}

#rpwe_widget-2 img.wp-post-image {
    min-height: 244px;
    width: 100%
}

.community_life {
    background: url(images/community_life_bg.png) repeat-x 0 0;
    padding-top: 110px;
    padding-bottom: 21px;
    margin-top: -10px !important
}

.community_life img {
    float: right;
    margin-left: 42px;
    margin-top: 15px
}

.community_life h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: 400;
    line-height: 30px
}

.community_life p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-top: 21px;
    margin-bottom: 0
}

.community_life .commnity_content {
    display: inline-block
}

.community_life .commnity_content .commnity_content_id {
    float: left;
    width: 54%
}

.community_life a.grey_but {
    background: url(images/community_life_errow.png) no-repeat 238px 30px;
    display: block;
    height: 95px;
    width: 58%;
    margin-top: 16px
}

.community_life a.grey_but span {
    padding: 0 24px;
    font-family: 'Conv_oswald.regular';
    font-size: 25px
}

.community_life a.grey_but span.grey_but_shadow {
    width: 64%;
    background-size: 100%
}

.community_life a.grey_but b {
    color: #fff;
    font-size: 15px;
    padding-left: 65px;
    display: inline-block;
    font-weight: 400
}

.site-footer {
    background: 0 0
}

.site-footer .sidebar-container {
    background: #004080 url(images/footer_top_bg.jpg) repeat-x 0 0;
    padding: 27px 0 36px;
    display: inline-block;
    width: 100%
}

.site-footer .site-info {
    background: url(images/footer_bottom_bg.jpg) repeat-x 0 0;
    padding: 0;
    max-width: 100%;
    height: 10px;
    margin-top: -5px
}

.site-footer .widget .widget-title {
    font-size: 15px;
    font-family: 'Myriad Pro';
    font-style: normal;
}

.site-footer .widget .school_details li {
    padding: 0;
    margin-bottom: 10px
}

.site-footer .widget .school_details li a {
    color: #caddef;
    font-size: 15px;
    display: inline-block;
    padding-left: 27px
}

.site-footer .widget .school_details li a:hover {
    text-decoration: none;
    color: #419438
}

.site-footer .widget .school_details li a.location {
    background: url(images/location_tag_icon.png) no-repeat 0 4px
}

.site-footer .widget .school_details li a.phone_number {
    background: url(images/phone_icon.png) no-repeat 0 0
}

.site-footer .widget .school_details li a.fex_number {
    background: url(images/fex_icon.png) no-repeat 0 0
}

.site-footer .widget .school_details li a span {
    display: block
}

.site-footer .widget .copyright {
    margin-top: 25px
}

.site-footer .widget .copyright a {
    color: #c8dbee
}

.site-footer .widget .copyright a:hover {
    color: #419338;
    text-decoration: none
}

.site-footer .widget .copyright span {
    display: block;
    color: #caddef;
    font-size: 14px
}

.site-footer .widget-area {
    background: url(images/footer_tran_bg.png) no-repeat 89px 0;
    max-width: 1000px !important;
    height: auto !important;
    left: 0 !important
}

.site-footer .widget {
    display: inline-block;
    float: left;
    left: 0 !important;
    margin: 0;
    padding: 0;
    position: inherit !important;
    top: 0 !important;
    width: 22%
}

.site-footer #text-6.widget {
    width: 31%
}

.site-footer #text-3, .site-footer #text-5, .site-footer #text-7 {
    margin-top: 12px
}

.home .site-footer .copyright a img {
    display: none
}

.content-area.inner_blog {
    background: url(images/inner_page_top_bg.jpg) repeat-x 0 0;
    display: inline-block;
    width: 100%;
    min-height: 380px
}

.inner_blog .entry-header {
    padding: 0
}

.inner_blog .entry-header h1.entry-title {
    font-size: 44px;
    font-family: "Myriad Pro";
    color: #fff;
    line-height: 30px;
    padding-top: 44px
}

.directors_information {
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 23.79%;
    display: inline-block
}

.directors_information span {
    font-size: 19px;
    color: #35762c;
    display: block
}

.the_directors .sidebar-container {
    display: inline-block;
    float: left;
    height: auto;
    position: inherit;
    width: 25%;
    margin-top: 56px
}

.sidebar-container .widget-area {
    width: 100%
}

.the_directors .hentry {
    display: inline-block;
    float: right;
    padding: 0;
    width: 66.8%;
    margin-left: 32px;
    margin-top: 56px
}

.hentry {
    display: inline-block;
    float: right;
    padding: 20px;
    width: 66.8%;
    margin-left: 32px;
    margin-top: 10px;
    background: #fff;
    min-height: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.hentry .entry-content {
    padding: 0
}

.subpages {
    background: url(images/directors_left_area_patten.jpg) repeat 0 0;
    padding: 20px 0 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.subpages li {
    margin-bottom: 12px;
    margin-left: -10px
}

.subpages li a {
    font-size: 16px;
    color: #444;
    padding: 6px 0 10px 48px;
    display: block;
    margin-right: 18px;
    position: relative;
    font-weight: 700
}

.subpages li a:hover {
    background: url(images/dir_active.png) no-repeat 0 bottom;
    color: #fff;
    text-decoration: none
}

.subpages li a:hover i {
    background: url(images/dir_a_errow.png) no-repeat 0 0;
    width: 15px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 35%
}

.subpages li.current_page_item a {
    background: url(images/dir_active.png) no-repeat 0 bottom;
    color: #fff;
    text-decoration: none;
    position: relative
}

.subpages li.current_page_item a i {
    background: url(images/dir_a_errow.png) no-repeat 0 0;
    width: 15px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 35%
}

.entry-content p {
    font-size: 16px;
    color: #444;
    line-height: 25px;
    display: block
}

.entry-content span.the_directors_content {
    font-size: 25px;
    color: #004b97;
    line-height: 30px;
    font-weight: 400
}

.entry-content h3 {
    font-size: 27px;
    color: #419438;
    line-height: 32px;
    font-family: "Myriad Pro";
    font-weight: 400
}

.subpages li.current_page_item ul.children {
    display: block !important
}

.subpages li.current_page_parent a {
    background: url(images/dir_active.png) no-repeat 0 bottom;
    color: #fff;
    text-decoration: none
}

.subpages li.current_page_parent a i {
    background: url(images/dir_a_errow.png) no-repeat 0 0;
    width: 15px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 35%
}

.subpages ul.children {
    margin-left: 10px
}

.subpages ul.children li.page_item a {
    background: 0 0;
    color: #444;
    font-weight: 400
}

.subpages ul.children li.page_item a i {
    background: 0 0
}

.subpages ul.children li.page_item a:hover i {
    background: url(images/dir_a_errow.png) no-repeat 0 0;
    width: 15px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 35%
}

.subpages ul.children li.current_page_item a, .subpages ul.children li.page_item a:hover {
    background: url(images/dir_active.png) no-repeat 0 bottom;
    color: #fff;
    text-decoration: none;
    opacity: .7
}

.subpages ul.children li.current_page_item a i {
    background: url(images/dir_a_errow.png) no-repeat 0 0;
    width: 15px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 35%
}

.blog .blog_left_area {
    width: 26%;
    float: left;
    margin-right: 30px;
    margin-top: 58px
}

.blog .blog_left_area .widget {
    width: 100%;
    padding: 31px 0 30px
}

.blog .blog_left_area .widget h3.widget-title {
    background: url(images/blog_left_head_bg.png) no-repeat 0 0;
    font-size: 22px;
    font-family: 'Conv_oswald.regular';
    color: #fff;
    font-style: normal;
    height: 56px;
    line-height: 48px;
    margin-left: -5px;
    padding-left: 19px;
    margin-right: 22px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px
}

.blog .blog_right_area {
    width: 71%;
    float: left;
    margin-top: 58px
}

.site-main .blog .blog_left_area .widget, .site-main .blog .blog_right_area .consectetur_details {
    background: url(images/blog_box_bg.jpg) repeat 0 0;
    display: inline-block;
    padding: 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.blog .blog_left_area .widget ul {
    padding-left: 10px;
    padding-right: 22px
}

.blog .blog_left_area .widget ul li {
    background: url(images/blog_left_li_dot.png) no-repeat 0 13px;
    padding-left: 14px;
    font-size: 17px;
    color: #444;
    line-height: 20px;
    margin-bottom: 10px
}

.blog .blog_left_area .widget ul li a {
    font-size: 17px;
    color: #444;
    line-height: 20px
}

.blog .blog_left_area .widget ul li a:hover {
    text-decoration: none;
    color: #419438
}

.blog .blog_left_area .widget.widget_categories ul li {
    background: url(images/blog_left_li_dot_black.png) no-repeat 0 13px
}

.blog .blog_right_area .consectetur_details {
    padding-top: 32px;
    padding-bottom: 43px
}

.blog .blog_right_area .consectetur_details .incididunt_blog {
    background: url(images/incididunt_blog_bg.png) no-repeat center center
}

.blog .blog_right_area .consectetur_details .entry-date {
    background: url(images/date_teg.png) no-repeat 0 0;
    font-size: 14px;
    color: #82c0ff;
    margin-right: 17px;
    display: inline-block;
    padding: 0 24px 5px;
    margin-left: -5px;
    float: left
}

.blog .blog_right_area .consectetur_details .entry-date span {
    font-size: 30px;
    color: #fff;
    display: block;
    line-height: 22px
}

.blog .blog_right_area .consectetur_details .blog_tital a {
    color: #444;
    font-size: 26px;
    float: right;
    width: 84%;
    font-family: 'Conv_oswald.regular';
    margin-right: 20px
}

.blog .blog_right_area .consectetur_details .blog_tital a:hover {
    text-decoration: none;
    color: #419438
}

.blog .blog_right_area .consectetur_details .consectetur_content {
    margin-left: 26px;
    margin-right: 33px;
    display: inline-block;
    margin-top: 10px
}

.blog .blog_right_area .consectetur_details .consectetur_content img {
    float: left;
    background: #fff;
    padding: 11px;
    margin-right: 18px;
    max-height: 192px;
    width: 192px
}

.blog .blog_right_area .consectetur_details .consectetur_content p {
    font-size: 16px;
    line-height: 20px;
    color: #444
}

.blog .blog_right_area .consectetur_details .consectetur_content a {
    background: url(images/red_more_add_icon.png) no-repeat 0 center;
    padding-left: 17px;
    float: left;
    color: #3c9229;
    font-size: 13px;
    margin-right: 15px
}

.blog .blog_right_area .consectetur_details .consectetur_content span.comment {
    background: url(images/comment_icon.png) no-repeat 0 center;
    padding-left: 25px;
    margin-right: 15px;
    color: #3c9229;
    font-size: 13px;
    float: left
}

.blog .blog_right_area .consectetur_details .consectetur_content .date_and_time_time {
    background: url(images/time_icon.png) no-repeat 0 center;
    padding-left: 19px;
    float: left;
    font-size: 14px;
    color: #3c9229
}

.blog .blog_right_area .consectetur_details .consectetur_content .date_and_time {
    background: url(images/day_m_icon.png) no-repeat 0 center;
    padding-left: 19px;
    float: left;
    font-size: 14px;
    color: #3c9229;
    margin-right: 15px
}

.blog .blog_right_area .consectetur_section {
    display: inline-block;
    margin-bottom: 25px
}

.blog .blog_right_area .consectetur_shadow {
    background: url(images/blog_rigth_shadow.png) no-repeat center 0;
    height: 30px
}

.header_desc p {
    color: #fff;
    font-size: 18px;
    margin-top: 38px;
    margin-bottom: 31px
}

.paging-navigation {
    background: 0 0;
    padding: 0;
    display: inline-block
}

.paging-navigation .nav-previous .meta-nav {
    padding: 3px 0 8px;
    width: 50px
}

.paging-navigation .meta-nav {
    background-color: #004990
}

.paging-navigation a {
    color: #004990;
    font-weight: 400;
    font-style: normal
}

.paging-navigation a:hover {
    color: #3a8b25;
    font-weight: 400
}

.paging-navigation a:hover .meta-nav {
    background: #3a8b25
}

.sidebar .paging-navigation .nav-links {
    padding: 0;
    margin-bottom: 20px
}

.site-main .inner_blog .sidebar-container {
    width: 30%;
    position: inherit;
    float: left;
    height: auto
}

.site-main .inner_blog .widget {
    padding: 10px;
    background: 0 0
}

.comment-respond {
    display: inline-block
}

.sidebar .site-footer, .site-footer .widget-area {
    margin-top: 0 !important
}

.entry-content .wp-caption.alignright, .entry-content img.alignright {
    margin-right: 0
}

.inner_blog .comment-respond {
    background: 0 0
}

.inner_blog .comment-respond h3.comment-reply-title {
    font-size: 24px;
    font-family: "Myriad Pro";
    color: #419438;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px
}

.inner_blog .comment-respond .comment-form, .inner_blog .comment-respond h3.comment-reply-title {
    padding: 0
}

.inner_blog .comment-respond .comment-form label {
    display: block;
    width: 100%
}

.inner_blog .comment-respond .comment-form input, .inner_blog .comment-respond .comment-form textarea {
    border: 1px solid #ddd
}

.inner_blog .comment-respond .comment-form .form-submit input, .inner_blog .comment-respond .comment-form .form-submit input:hover {
    background: #004389
}

.post-categories li {
    list-style: none;
    float: left;
    margin-right: 10px
}

.post-categories li a {
    color: #004389
}

.post-categories li a:hover {
    text-decoration: none
}

.navigation.post-navigation .nav-links {
    padding: 0
}

.navigation.post-navigation .nav-links a {
    color: #419438;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-style: normal;
    width: 50%;
    float: left
}

.navigation.post-navigation .nav-links a:hover {
    color: #014181
}

.navigation.post-navigation .nav-links a.next {
    float: right
}

.single_page .blog_left_area {
    background: #fff;
    margin-top: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.single_page .blog_right_area {
    background: #fff;
    padding: 20px;
    margin-top: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.comments-area h2.comments-title {
    padding: 0;
    font-style: normal;
    color: #014181;
    font-family: "Myriad Pro";
    font-size: 24px
}

.comments-area .comment-list {
    padding: 0
}

.contact_us_page .hentry {
    width: 100%;
    margin-left: 0
}

.contact_us_page .contact_address {
    float: left;
    width: 50%;
    line-height: 24px;
    color: #777;
    font-size: 14px
}

.contact_us_page .wpcf7 {
    float: left;
    width: 50%
}

.contact_us_page .contact_address span {
    font-size: 22px;
    color: #004080;
    font-family: "Myriad Pro";
    margin: 10px 0;
    display: inline-block;
    display: block
}

.contact_us_page .contactform {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px
}

.contact_us_page .contactform input, .contact_us_page .contactform textarea {
    border: 1px solid #ddd
}

.contact_us_page .contactform input.wpcf7-submit, .contact_us_page .contactform input.wpcf7-submit:hover {
    background: #004389
}

.post-categories {
    display: inline-block
}

.navigation .nav-box {
    width: 48%
}

.navigation .nav-box a {
    color: #004990
}

.navigation .nav-box a img {
    background: #efefef;
    padding: 2px;
    border: 1px solid #dfdfdf;
    min-height: inherit;
    width: auto
}

.navigation .nav-box a:hover {
    color: #439639
}

.navigation .previous img {
    float: left;
    margin-right: 10px
}

.navigation .next img {
    float: right;
    margin-left: 10px
}

.blog_right_area .entry-date {
    float: left;
    margin-right: 10px
}

.single_map .blog_right_area {
    width: 100%
}

.our_school .hentry {
    width: 100%;
    padding: 0 20px;
    min-height: 70px
}

.our_school .page-header, .our_school .paging-navigation {
    background: 0 0
}

.our_school .entry-summary, .our_school .nav-links {
    padding: 0
}

.job_description {
    margin-bottom: 20px;
    padding-left: 12px
}

.job_description li {
    line-height: 24px
}

.academics_top .new_campus {
    margin-top: 0
}

::-webkit-input-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

input:-ms-input-placeholder {
    color: #fff;
    text-transform: uppercase
}

.navigation.paging-navigation {
    width: 100%
}

ul.square_list {
    margin-left: 30px;
    margin-bottom: 24px
}

ul.square_list li {
    font-size: 14px
}

p.simple_tags {
    margin-bottom: 0
}

#cff .cff-author span, #cff .cff-viewpost-facebook, #cff a, #cff p span, .cff-text, code {
    font-family: "Myriad Pro"
}

.blog_details {
    display: inline-block;
    width: 67%
}

/* Recent Articles */
.recent-articles-header h2 {
    color: #3a8b25;
    margin-bottom: 10px;
    font-weight: normal;
}

.recent-articles {
    display: inline-block;
    width: 100%;
}

.recent-article {
    display: inline-block;
    float: left;
    margin-right: 21px;
    padding: 0px;
    margin-left: 0px;
    width: 31%;
    min-height: inherit;
    margin-bottom: 10px;
}

.recent-article:nth-of-type(2n+3),
.recent-article.last {
    margin-right: 0px;
}

.entry-content .recent-articles h3 {
    padding: 5px;
    background: #f3f3f3;
    font-size: 14px;
}

.entry-content .recent-articles h3,
.entry-content .recent-articles h3 a {
    color: #777;
    display: block;
    text-decoration: none;
    outline: none;
    line-height: normal;
}

.entry-content .recent-articles h3 a:hover {
    color: #3a8b25;
}

.entry-content .article-thumb a {
    display: block;
    min-height: 145px;
    outline: none;
    position: relative;
}

.entry-content .article-thumb .player-btn {
    background: url("images/video-icon-i.png") no-repeat 0 0;
    display: inline-block;
    height: 43px;
    left: 39%;
    position: absolute;
    top: 35%;
    width: 43px;
}

/* iPad News */
.main_area {
    float: left;
    margin-top: 10px;
    width: 68%;
    margin-left: 20px;
}

.main_area .consectetur_section {
    display: inline-block;
    margin-bottom: 25px;
}

.main_area .consectetur_details {
    background: url(images/blog_box_bg.jpg) repeat 0 0;
    display: inline-block;
    padding: 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.main_area .consectetur_shadow {
    background: url("images/blog_rigth_shadow.png") no-repeat center 0;
    height: 30px;
}

.main_area .incididunt_blog {
    background: url("images/incididunt_blog_bg.png") no-repeat center center;
}

.main_area .entry-date {
    background: url("images/date_teg.png") no-repeat 0 0;
    color: #82c0ff;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-left: -5px;
    margin-right: 17px;
    padding: 0 24px 5px;
}

.main_area .entry-date span {
    color: #ffffff;
    display: block;
    font-size: 30px;
    line-height: 22px;
}

.main_area .blog_tital a {
    color: #444444;
    float: left;
    font-family: "Conv_oswald.regular";
    font-size: 26px;
    margin-right: 20px;
    width: 83%;
    text-decoration: none;
    outline: none;
}

.main_area .consectetur_content {
    display: inline-block;
    margin-left: 26px;
    margin-right: 33px;
    margin-top: 10px;
}

.main_area .consectetur_content img {
    background: #ffffff;
    float: left;
    margin-right: 18px;
    max-height: 192px;
    padding: 11px;
    width: 192px;
}

.main_area .blog_details {
    display: inline-block;
    width: 66%;
}

.main_area .blog_details a {
    background: url("images/red_more_add_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #3c9229;
    float: left;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 17px;
}

.main_area span.comment {
    background: url("images/comment_icon.png") no-repeat 0 center;
    color: #3c9229;
    float: left;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 25px;
}

/* Videos */
.videos-blog {
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 500px;
    padding: 20px;
}

.recent-article.recent-video .article-thumb img {
    width: 100%;
}

.recent-article.recent-video .article-thumb a {
    outline: none;
    position: relative;
    display: inline-block;
}

.recent-article.recent-video h3 {
    font-weight: normal;
    padding: 5px;
    background: #d1d1d1;
    font-size: 14px;
}

.recent-article.recent-video .player-btn {
    background: url("images/video-icon-i.png") no-repeat 0 0;
    display: inline-block;
    height: 43px;
    left: 39%;
    position: absolute;
    top: 35%;
    width: 43px;
}

.videos-blog .recent-article {
    margin-bottom: 10px;
    margin-right: 22px;
}

.recent-article.recent-video:nth-child(3n) {
    margin-right: 0 !important;
}

.video_desc {
    background-color: #e1e1e1;
    font-family: "Bitter", Georgia, serif;
    font-weight: normal;
    padding: 5px;
}

@media (max-width: 1199px) {
    .site-footer #text-6.widget {
        width: 28%
    }

    .the_directors .sidebar-inner .widget-area {
        margin-right: -10px
    }

    .site-main .inner_blog .widget {
        padding: 0
    }

    .site-main .widget-area {
        margin-right: 0
    }

    .hentry {
        margin-top: 0
    }

    .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-left {
        left: -26px
    }

    .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-right {
        right: -26px
    }

    .nbs-flexisel-nav-left {
        left: -5px
    }

    .nbs-flexisel-nav-right {
        right: -5px
    }

    /* iPad News */
    .main_area {
        margin-top: 0;
    }

}

@media (max-width: 992px) {
    .wrapper {
        padding: 0 15px;
        display: inline-block;
        width: 100%
    }

    .site-header .header_left .site-logo a img {
        width: 100%
    }

    .site-header .header_right {
        width: 63.1%
    }

    .nav-menu li a {
        padding: 18px 17px
    }

    .navbar {
        margin-top: 0;
        height: 51px
    }

    .site-footer #text-6.widget {
        width: 28%
    }

    .site-footer .widget {
        width: 23%
    }

    .site-footer .widget-area {
        padding: 0 15px
    }

    .responsive-slider.flexslider .flex-control-nav {
        width: 21% !important;
        bottom: -5% !important;
        left: 39%
    }

    .banner .banner_shadow img {
        width: 100%
    }

    .new_campus .summer li {
        margin: 0 6px
    }

    .new_campus .summer li img, .school_box .school_img img {
        width: 100%
    }

    .school_information {
        margin-left: 0;
        margin-right: 43px
    }

    .enrol_info {
        margin: 0 -15px !important
    }

    .rpwe-ul .rpwe-clearfix {
        margin-right: 36px
    }

    .community_life {
        margin: 0 -15px !important
    }

    .community_life img {
        margin-left: 23px;
        margin-top: 25px
    }

    .community_life {
        padding-top: 99px
    }

    .school_box .school_details, .school_box .school_tital, .school_box .white_but {
        padding: 0 2px
    }

    .bilingualism_practice {
        background-position: 410px 0
    }

    .enrol_no .enrol_section h3 {
        font-size: 23px
    }

    .directors_information {
        width: 24.78%
    }

    .inner_blog .entry-header {
        max-width: none
    }

    .hentry {
        margin-left: 30px
    }

    .hentry .entry-content {
        max-width: 100%
    }

    .blog .blog_left_area {
        margin-right: 28px
    }

    .blog .blog_right_area .consectetur_details .blog_tital a {
        width: 83%
    }

    .header_desc p {
        font-size: 17px
    }

    .the_directors .hentry {
        margin-left: 30px
    }

    .community_life a.grey_but {
        width: 50%
    }

    .new_campus .summer {
        height: 196px
    }

    .blog_details {
        width: 65%
    }

    .single_page .blog_right_area {
        max-width: 100%
    }

    .logo_slider li {
        margin-left: 16px;
        margin-right: 16px
    }

    /* Recent Articles */
    .recent-article {
        margin-right: 14px;
    }

    .entry-content .article-thumb a {
        min-height: 94px;
    }

    .recent-articles-header h2 {
        font-size: 26px;
    }

    /* iPad News */
    .main_area {
        margin-left: 14px;
        width: 62%;
    }

    .main_area .blog_tital a {
        width: 75%;
    }

    .main_area .consectetur_content img {
        float: none;
        margin-right: 0;
        max-height: inherit;
        width: 100%;
    }

    .main_area .blog_details {
        width: 100%;
    }

    .main_area .incididunt_blog {
        background-size: 100%;
    }

    .main_area .consectetur_shadow {
        background-size: 100%;
    }

}

@media (max-width: 979px) {
    .header_right .widget ul li {
        margin-right: 6px
    }

    .site-header .header_right {
        margin: 0;
        width: 60%
    }

    .nav-menu li a {
        font-size: 13px
    }

    .header_right .widget .search-form .search-field {
        width: 136px
    }

    .site-footer .sidebar-container {
        padding: 20px 0 10px
    }

    .site-footer .widget .school_details li a {
        font-size: 13px
    }

    .responsive-slider.flexslider .flex-direction-nav li a {
        height: 49px !important;
        width: 64px !important;
        background-size: 75% !important
    }

    .responsive-slider.flexslider .flex-direction-nav li .next {
        background-position: 0 -48px !important
    }

    .responsive-slider.flexslider .flex-direction-nav li a {
        top: 43.5% !important
    }

    .responsive-slider.flexslider .flex-control-nav {
        bottom: -6% !important;
        left: 37%;
        width: 26% !important
    }

    .banner .banner_shadow img {
        width: 100%
    }

    .welcome_area .welcome_tital {
        font-size: 25px;
        margin-top: 40px
    }

    .welcome_area p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 10px
    }

    .patten_tital .patten_blog_left, .patten_tital .patten_blog_right {
        background-size: 100%;
        width: 20%;
        height: 22px
    }

    .patten_tital h2 {
        font-size: 24PX
    }

    .school_information {
        margin-left: 15px;
        margin-right: 0;
        width: 30.98%
    }

    .school_box .school_details, .school_box .school_tital, .school_box .white_but {
        padding: 0
    }

    .school_box .school_tital {
        font-size: 24px
    }

    .school_box p {
        font-size: 13px
    }

    .school_information span.school_box_shadow {
        background-size: 100%;
        width: 66%
    }

    .bilingualism_practice .bilin_tital {
        font-size: 38px
    }

    .bilingualism_practice p {
        font-size: 13px;
        height: 92px;
        overflow: hidden
    }

    .bilingualism_practice {
        background-position: 180px 0
    }

    span.bilin_prac_box_shadow {
        background-size: 100%;
        width: 78%
    }

    .enrol_no h1 {
        font-size: 36px
    }

    .enrol_no .enrol_title_tagline {
        font-size: 16px
    }

    .enrol_no .enrol_section h3 {
        font-size: 17px;
        line-height: 20px;
        min-height: 106px
    }

    .enrol_no .enrol_sevtion_content p {
        height: 75px;
        overflow: hidden
    }

    .enrol_no {
        background-size: 100%
    }

    .rpwe_widget .patten_tital h2 {
        font-size: 50px
    }

    .rpwe-ul .rpwe-clearfix {
        margin-right: 28px
    }

    .community_life img {
        width: 42%
    }

    .community_life h1 {
        font-size: 27px;
        line-height: 24px
    }

    .site-footer #text-6.widget {
        width: 30%
    }

    .sidebar .site-footer .widget {
        width: 23%
    }

    .latesnews_link a.more-link {
        float: none;
        padding-left: 30px
    }

    .latesnews_link .comment {
        float: none;
        padding-left: 30px;
        margin: 5px 0
    }

    .latesnews_link .rpwe-time {
        display: block;
        float: left;
        margin-top: 5px;
        padding-left: 30px;
        width: 100%
    }

    .directors_information {
        width: 24.7%
    }

    .the_directors .sidebar-container {
        width: 31%
    }

    .hentry {
        margin-left: 15px;
        width: 61%
    }

    .inner_blog .entry-header h1.entry-title {
        font-size: 34px;
        line-height: 38px;
        padding-top: 24px;
        font-weight: 400
    }

    .entry-content span.the_directors_content {
        font-size: 21px;
        line-height: 24px
    }

    .entry-content h3 {
        font-size: 14px;
        line-height: 26px
    }

    .the_directors .subpages li {
        margin-bottom: 0
    }

    .the_directors .subpages li a {
        font-size: 16px;
        line-height: 32px
    }

    .hentry, .the_directors .sidebar-container {
        margin-top: 36px
    }

    .blog .blog_left_area {
        margin-right: 15px;
        width: 33%
    }

    .blog .blog_right_area {
        width: 64%
    }

    .blog .blog_right_area .consectetur_details .blog_tital a {
        font-size: 22px;
        width: 76%
    }

    .blog .blog_right_area .consectetur_details .consectetur_content img {
        margin-bottom: 14px;
        margin-right: 0;
        width: 100%;
        max-height: inherit
    }

    .blog .blog_right_area .consectetur_shadow {
        background-size: 100%
    }

    .navbar {
        height: 41px
    }

    .nav-menu li a {
        padding: 14px 10px
    }

    .site-main .inner_blog .sidebar-container {
        width: 36%
    }

    .the_directors .hentry {
        margin-left: 15px;
        width: 61.8%
    }

    .hentry {
        margin-top: 0
    }

    .community_life a.grey_but {
        width: 76%
    }

    .new_campus .summer li {
        margin: 0 4px
    }

    .new_campus .summer {
        height: 152px
    }

    .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-left, .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-right {
        background-size: 100%;
        width: 2.5%
    }

    .enrol_now_wp {
        text-align: center
    }

    .header_right .widget .search-form .search-field:focus {
        width: 136px
    }

    .navbar .widget.widget_search {
        right: 35px;
        top: 2px
    }

    .navbar .widget .search-form {
        width: 176px
    }

    .navbar .widget.widget_qtranslateslug {
        top: 60px;
        -webkit-transition: all .3s linear 0;
        -moz-transition: all .3s linear 0;
        -o-transition: all .3s linear 0;
        transition: all .3s linear 0;
    }

    .is-sticky .navbar .widget.widget_qtranslateslug {
        top: -60px
    }

    .navbar .widget .search-form .search-field {
        width: 94px
    }

    .enrol_info {
        padding-top: 110px
    }

    #rpwe_widget-2 img.wp-post-image {
        min-height: 182px
    }

    .blog_details {
        width: 100%
    }

    .sticky-wrapper {
        height: 42px !important
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        background-size: 100% auto;
        width: 2.5%
    }

    .logo_slider li {
        margin-left: 10px;
        margin-right: 10px;
        width: 162px !important
    }

    .logo_slider li img {
        width: 100%
    }

    .logo_slider {
        height: 500px
    }

    .is-sticky .navbar {
        height: 46px
    }

    .is-sticky .nav-menu li a {
        padding: 17px 10px 16px
    }

    .enrol_no .enrol_sevtion_content {
        min-height: 80px
    }
}

@media (max-width: 643px) {
    .site-header .header_right {
        display: block
    }

    .site-header .header_left .site-logo a img {
        width: auto
    }

    .menu-toggle:after, .toggled-on .menu-toggle:after {
        background: url(images/responsive_manu.png) no-repeat 0 0;
        content: close-quote;
        display: inline-block;
        height: 24px;
        width: 40px;
    }

    .widget.qtranxs_widget {
        margin-right: 50px;
    }

    .menu-toggle {
        font-size: 0;
        float: right;
        padding-top: 15px;
    }

    .nav-menu li {
        float: none
    }

    .nav-menu li.menu-item .nav_arrow {
        background: 0 0
    }

    .nav-menu li.menu-item-has-children .nav_arrow {
        background: url(images/respo_menu_errow.png) no-repeat 0 0;
        height: 16px;
        width: 40px;
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 9;
        margin-top: 17px;
        cursor: pointer;
        top: 0
    }

    .nav-menu li.menu-item-has-children.toggle-dropdown .nav_arrow {
        background: url(images/respo_menu_errow2.png) no-repeat 0 0;
        height: 16px;
        width: 40px;
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 9;
        margin-top: 17px;
        cursor: pointer;
        top: 0
    }

    .nav-menu li.menu-item-has-children .sub-menu .menu-item .nav_arrow {
        background: 0 0
    }

    .nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children .nav_arrow {
        background: url(images/respo_menu_errow.png) no-repeat 0 0;
        height: 16px;
        width: 40px;
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 9;
        margin-top: 17px;
        cursor: pointer;
        top: 0
    }

    .nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children.toggle-dropdown .nav_arrow {
        background: url(images/respo_menu_errow2.png) no-repeat 0 0;
        height: 16px;
        width: 40px;
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 9;
        margin-top: 17px;
        cursor: pointer;
        top: 0
    }

    .nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children.toggle-dropdown a {
        background: #2d831e
    }

    .nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children.toggle-dropdown .sub-menu li a {
        background: #0069d1
    }

    .nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children.toggle-dropdown .sub-menu li a:hover {
        background: #009100
    }

    .nav-menu li.menu-item-has-children .sub-menu .menu-item .sub-menu .menu-item .nav_arrow {
        background: 0 0
    }

    .nav-menu li.menu-item-has-children.toggle-dropdown a {
        background: url(images/navbar_bg_active.jpg) repeat-x scroll 0 bottom #3a8d25
    }

    .nav-menu li.menu-item-has-children.toggle-dropdown .sub-menu li a {
        background: #00458a
    }

    .nav-menu li.menu-item-has-children.toggle-dropdown .sub-menu li a:hover {
        background: #3a8d25
    }

    .toggled-on .nav-menu li > ul a {
        color: #fff
    }

    .nav-menu li a {
        background: #00458a
    }

    .toggled-on .nav-menu li a:hover {
        background: url(images/navbar_bg_active.jpg) repeat-x scroll 0 bottom #3a8d25
    }

    .nav-menu li {
        margin-bottom: 1px
    }

    .nav-menu .current-menu-ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current_page_ancestor > a, .nav-menu li .nav-menu .current_page_item > a {
        background: url(images/navbar_bg_active.jpg) repeat-x scroll 0 bottom #3a8d25
    }

    .nav-menu li ul.sub-menu {
        margin-left: 0;
        margin-top: 0;
        border: none
    }

    .menu-menu-1-container {
        margin-top: 50px;
        background: #005db9
    }

    .sticky-wrapper {
        position: absolute;
        top: 0;
        z-index: 999;
        height: auto;
        right: 0;
        width: 100%
    }

    .navbar {
        background: 0 0
    }

    .responsive-sl ider.flexslider .flex-direction-nav li, .responsive-slider.flexslider .flex-direction-nav {
        display: none
    }

    .responsive-slider.flexslider .flex-control-nav {
        bottom: -10% !important;
        left: 29%;
        width: 42% !important
    }

    .nav-menu li a {
        font-size: 15px;
        padding: 18px 19px
    }

    .site-footer #text-6.widget, .site-footer .widget {
        text-align: left;
        width: 100%
    }

    .site-footer .widget .school_details li a {
        font-size: 15px
    }

    .patten_tital .patten_blog_left, .patten_tital .patten_blog_right {
        display: none
    }

    .new_campus .summer li {
        margin-bottom: 20px;
        margin-right: 0;
        width: 99% !important
    }

    .school_information.third_sections {
        margin: 0
    }

    .school_information {
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px
    }

    .school_information span.school_box_shadow {
        width: 82%;
        height: 28px
    }

    .enrol_no h1 {
        font-size: 28px
    }

    .enrol_no .enrol_title_tagline {
        line-height: 18px
    }

    .enrol_no .enrol_section {
        float: none;
        width: 100%
    }

    .enrol_no .enrol_section h3 {
        min-height: inherit
    }

    .enrol_no .enrol_sevtion_content p {
        height: auto;
        margin-bottom: 5px;
        margin-top: 5px
    }

    .enrol_no .enrol_section p {
        margin-bottom: 5px
    }

    a.grey_but span {
        font-size: 32px
    }

    a.grey_but span.grey_but_shadow {
        background-size: 100%;
        width: 100%
    }

    .rpwe_widget .patten_tital h2 {
        font-size: 40px
    }

    .rpwe-ul .rpwe-clearfix {
        margin-right: 0;
        width: 100%
    }

    .rpwe-ul .rpwe-clearfix a img {
        width: 100%
    }

    .community_life .commnity_content .commnity_content_id {
        float: none;
        width: 100%
    }

    .community_life img, .sidebar .site-footer .widget {
        width: 100%
    }

    .enrol_info {
        background: url(images/enrol_480_bg.png) repeat-x 0 0;
        background-size: cover;
    }

    .community_life {
        background: url(images/community_life_bg_480.jpg) repeat-x 0 0;
        background-size: cover;
    }

    .bilingualism_practice img {
        float: none;
        margin-right: 0;
        width: 100%
    }

    .the_directors .sidebar-container {
        float: none;
        width: 100%;
        margin-top: 26px
    }

    .hentry {
        margin-left: 0;
        width: 100%;
        margin-top: 16px
    }

    .directors_information {
        margin-bottom: 10px;
        width: 100%
    }

    .inner_blog .entry-header h1.entry-title {
        text-align: center
    }

    .hentry .entry-content {
        padding: 0 !important
    }

    .blog .blog_left_area {
        margin-right: 0;
        width: 100%;
        margin-top: 38px
    }

    .blog .blog_right_area {
        width: 100%;
        margin-top: 18px
    }

    .blog .blog_right_area .consectetur_details .blog_tital a {
        font-size: 20px;
        width: 75%
    }

    .header_desc p {
        font-size: 16px;
        margin-top: 10px
    }

    .site-main .inner_blog .sidebar-container {
        width: 100%
    }

    .the_directors .hentry {
        margin-left: 0;
        width: 100%
    }

    .subpages li a {
        padding: 6px 0 10px 70px
    }

    .single_page .blog_right_area {
        padding: 0
    }

    .inner_blog .comment-respond .comment-form input {
        max-width: 100%;
        width: 100%
    }

    .inner_blog .comment-respond .comment-form .form-submit input {
        max-width: none;
        width: auto
    }

    .hentry {
        padding: 0
    }

    .contact_us_page .contact_address {
        padding: 10px;
        width: 100%
    }

    .contact_us_page .wpcf7 {
        float: none;
        width: 100%
    }

    .community_life a.grey_but {
        width: 57%
    }

    .new_campus .summer {
        height: 272px
    }

    .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-left, .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-right {
        top: 50% !important;
        width: 3.5%
    }

    #rpwe_widget-2 img.wp-post-image {
        min-height: inherit
    }

    .banner .banner_shadow img {
        margin-top: -1px
    }

    .latesnews_link a.more-link {
        float: left;
        padding-left: 25px
    }

    .latesnews_link .comment {
        float: left;
        margin: 0
    }

    .latesnews_link .rpwe-time {
        margin-top: 0;
        width: auto;
        margin-left: 15px
    }

    .site-header .header_right .widget_social_widget, .site-header .header_right .widget_text, .site-header .widget_search {
        display: none
    }

    .site-header .header_left {
        float: left;
        width: 60%;
        text-align: center
    }

    .site-header .header_right {
        float: right;
        width: 18%;
        margin: 46px 0 0
    }

    .header_right .widget ul {
        background: 0 0
    }

    .welcome_area .welcome_tital {
        font-size: 23px
    }

    .header_right .widget h3.widget-title {
        display: none
    }

    .header_right .widget ul {
        padding: 0 0 0 11px
    }

    .header_right .widget.widget_qtranslateslug {
        bottom: -50px
    }

    .navbar .widget.widget_search {
        display: none
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        width: 3.5%;
        display: block !important
    }

    .logo_slider li {
        width: 205px !important
    }

    .logo_slider {
        height: 480px;
        margin: 10px 0
    }

    .logo_slider li {
        display: inline-block;
        float: none
    }

    .nbs-flexisel-container {
        text-align: center;
        width: 100%
    }

    .enrol_no .enrol_sevtion_content {
        min-height: inherit
    }

    /* Recent Articles */
    .recent-articles-header h2 {
        font-size: 24px;
    }

    .entry-content h3,
    .entry-content h3 a {
        font-size: 20px;
    }

    /* iPad News */
    .main_area {
        margin-left: 0;
        width: 100%;
    }

    .main_area .blog_tital a {
        font-size: 20px;
    }

}

@media (max-width: 479px) {
    .site-header .header_left .site-logo a img {
        width: 100%
    }

    .site-header .header_left {
        width: 50%
    }

    .site-header .header_right {
        margin: 45px 0 0;
        width: 28%
    }

    .welcome_area .welcome_tital {
        font-size: 22px
    }

    .new_campus {
        margin-top: 10px
    }

    .header_right .widget {
        float: right
    }

    .responsive-slider.flexslider .flex-control-nav {
        bottom: -16% !important;
        left: 19%;
        width: 63% !important
    }

    .welcome_area .welcome_tital {
        line-height: 34px;
        margin-top: 25px
    }

    .welcome_area p {
        line-height: 20px;
        margin-bottom: 5px;
        margin-top: 5px
    }

    .patten_tital h2 {
        font-size: 20px
    }

    .school_information span.school_box_shadow {
        height: 20px;
        width: 72%
    }

    .enrol_info {
        background: url(images/enrol_230_bg.png) repeat-x 0 0;
        padding-bottom: 0px;
        background-size: cover;
    }

    .bilingualism_practice .bilin_tital {
        font-size: 25px
    }

    .enrol_no h1, a.grey_but span {
        font-size: 22px
    }

    .rpwe_widget .patten_tital h2 {
        font-size: 30px
    }

    .header_desc p {
        height: 120px;
        overflow: hidden
    }

    .blog .blog_right_area .consectetur_details .blog_tital a {
        font-size: 16px;
        margin-right: 10px;
        width: 65%
    }

    .blog .blog_right_area img {
        width: 100%
    }

    .community_life a.grey_but {
        width: 89%
    }

    .new_campus .summer li {
        margin: 0
    }

    .new_campus .summer {
        height: 168px
    }

    .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-left, .new_campus .nbs-flexisel-inner .nbs-flexisel-nav-right {
        width: 4.5%
    }

    .banner .banner_shadow img {
        margin-top: -7px
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        width: 4.5%
    }

    .logo_slider li {
        margin-left: 40px;
        margin-right: 30px
    }

    /* iPad News */
    .main_area .blog_tital a {
        font-size: 16px;
        margin-right: 10px;
        width: 65%;
    }

}

.enrol_info .wrapper {
    min-height: 500px;
}

/* Home Calendar & Campus Images */
.new_campus_content .new_campus_calendar {
    float: left;
    margin-right: 15px;
    width: 30%;
}

.new_campus_content .new_campus_images {
    float: left;
    width: 67.8%;
}

/* Home Calendar */
.home .ai1ec-calendar-toolbar,
.home .ai1ec-btn-toolbar,
.home .ai1ec-pagination.ai1ec-btn-group {
    display: none;
}

/* Campus Images */
.campus_images {
    list-style-type: none; /*remove the bullet point*/
    margin-left: 0;
}

.campus_image {
    width: 48.4%;
}

.campus_images .campus_image {
    border: 5px solid #ccc;
    display: inline-block; /*places the images in a line*/
    height: 140px;
    margin: 0 15px 15px 0;
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
}

.campus_images .campus_image:hover {
    border-color: #222;
}

.campus_image_thumb {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.campus_images .campus_image:nth-child(2n) {
    margin-right: 0;
    float: right;
}

.campus_image .campus_image_thumb img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.campus_images span.campus_image_popup {
    position: absolute;
    left: -9999px;
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: .9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .75));
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .75);
    box-shadow: 0 0 20px rgba(0, 0, 0, .75);
}

.campus_images .campus_image:hover {
    z-index: 50;
    cursor: pointer;
}

.campus_images .campus_image:hover span img {
    max-width: 475px;
}

.campus_images span img {
    padding: 2px;
    background: #ccc;
}

.campus_images .campus_image:hover span.campus_image_popup {
    /*top: -250px;*/ /*the distance from the bottom of the thumbnail to the top of the popup image*/
    bottom: 140px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -5px; /*distance from the left of the thumbnail to the left of the popup image*/
}

.campus_images .campus_image:nth-child(2n):hover span.campus_image_popup {
    left: inherit;
    right: -5px;
}

.campus_image_popup_title {
    display: block;
    padding-top: 10px;
}

/*
	.campus_images .campus_image:hover:nth-child(2) span{
		left: 0px;
	}
	.campus_images .campus_image:hover:nth-child(3) span{
		left: 0px;
	}
	*/
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
.campus_images img,
.campus_images span {
    behavior: url(pie/PIE.htc);
}

@media (max-width: 767px) {
    .new_campus_content .new_campus_calendar,
    .new_campus_content .new_campus_images {
        width: 100%;
    }

    .campus_image {
        width: 48%;
    }

    .campus_images .campus_image:nth-child(2n) {
        float: right;
    }

    .campus_image > img {
        width: 100%;
    }

    .campus_image_popup {
        display: none;
    }
}

@media (max-width: 480px) {
    .campus_images .campus_image {
        width: 100%;
        height: auto;
    }

    .campus_image > img {
        width: 100%;
    }

    /* Recent Articles */
    .recent-article {
        margin-right: 0;
        width: 100%;
    }

    .entry-content .article-thumb img {
        width: 100%;
    }

    .recent-articles-header h2 {
        font-size: 22px;
    }

    .entry-content h3, .entry-content h3 a {
        font-size: 14px;
    }

}

/*
 *
 * Video Banner
 *
 * */
#banner_video {
    height: 450px;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.stopfade {
    opacity: .5;
}

#video_datas {
    display: none;
}

#videoPlayer {
    background: url("videos/video1.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s; /* Safari */
    width: auto;
    /*z-index: -100;*/
}

#banner_content {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    float: none;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-size: 17px;
    font-weight: 100;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
    text-align: center;
}

#banner_content .banner_title h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 4.8px;
}

#banner_content .banner_desc {
    max-height: 230px;
    overflow: hidden;
}

#banner_content .banner_desc a {
    color: inherit;
    text-decoration: underline;
}

#banner_content a:hover {
    text-decoration: none;
}

#banner_content .banner_link {
    background: rgba(255, 255, 255, 0.23);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 15px auto;
    padding: 7px;
    transition: background 0.3s ease 0s;
    -webkit-transition: background 0.3s ease 0s; /* Safari */
    width: auto;
}

#banner_content .banner_link:hover {
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

@media (min-width: 1200px) {
    #banner_video {
        height: 550px;
    }
}

@media screen and (max-device-width: 800px) {
    #banner_video {
        background-image: url("videos/video1.png");
        background-size: cover;
        height: 250px;
        position: relative;
    }

    #videoPlayer {
        display: none;
    }

    #banner_content {
        font-size: 15px;
        width: 90%;
        padding: 10px;
    }

    #banner_content .banner_title h1 {
        font-size: 20px;
    }

    #banner_content .banner_desc {
        max-height: 135px;
        overflow: hidden;
        padding: 10px;
    }

    #banner_content .banner_link {
        margin: 5px auto 0;
    }
}

.wp-pagenavi {
    padding-left: 0 !important;
}

.bilingualism_practice_item {
    float: left;
    width: 50%;
}

.bilingualism_practice_item.full {
    width: 100%;
}

.bilingualism_practice_item_thumb {
    float: left;
    margin-right: 3%;
    width: 32%;
}

.bilingualism_practice_item_data {
    float: left;
    padding-right: 5px;
    width: 65%;
}

.bilingualism_practice .bilingualism_practice_item_thumb img {
    max-width: 100%;
}

.bilingualism_practice .bilingualism_practice_item_data {

}

.bilingualism_practice .bilingualism_practice_item_data .bilin_tital {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    line-height: inherit;
    margin-bottom: 10px;
    padding-left: 0;
}

.bilingualism_practice .bilingualism_practice_item_data p {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

/*
@media all and (max-width: 701px) and (min-width: 520px) {
	*/
@media all and (max-width: 767px) {
    .bilingualism_practice_item {
        margin-bottom: 15px;
        width: 100%;
    }
}

.school_section.recent_posts .widget {
    width: 100%;
}

.qtranxs_widget ul {
    margin: 0;
}

.qtranxs_widget ul li {
    display: inline; /* horizontal list, use "list-item" or other appropriate value for vertical list */
    list-style-type: none; /* use "initial" or other to enable bullets */
    margin: 0 5px 0 0; /* adjust spacing between items */
    opacity: 0.5;
    transition: 1s ease opacity;
    -o-transition: 1s ease opacity;
    -moz-transition: 1s ease opacity;
    -webkit-transition: 1s ease opacity;
}

.qtranxs_widget ul li span {
    margin: 0 5px 0 0;
}

/* other way to control spacing */
.qtranxs_widget ul li.active {
    opacity: 0.8;
}

.qtranxs_widget ul li:hover {
    opacity: 1;
}

.qtranxs_widget img {
    box-shadow: none;
    vertical-align: middle;
}

.qtranxs_flag {
    height: 12px;
    width: 18px;
    display: block;
}

.qtranxs_flag_and_text {
    padding-left: 20px;
}

.qtranxs_flag span {
    display: none;
}

.xdebug-error.xe-notice {
    display: none;
}

#wpgmza_use_my_location_from,
#wpgmza_use_my_location_to {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 2px solid #d4d0ba;
    line-height: 11px;
    padding: 6px 6px 7px;
    vertical-align: top;
}

#wpgmza_use_my_location_from:hover,
#wpgmza_use_my_location_to:hover {
    background: #e8e8e8;
}

/*
#wpgmaps_directions_editbox_1 a#wpgmza_show_options_1,
#wpgmaps_directions_editbox_1 a#wpgmza_hide_options_1 ,
#wpgmaps_directions_editbox_1 a#wpgmza_show_options_1,
#wpgmaps_directions_editbox_1 a#wpgmza_hide_options_1 {
	color: #ccc !important;
	font-size: 15px !important;
	font-weight: normal !important;
	line-height: 27px;
}
*/
.wpgmaps_directions_outer_div [id*="wpgmaps_directions_editbox_"] a[id*="wpgmza_show_options_"],
.wpgmaps_directions_outer_div [id*="wpgmaps_directions_editbox_"] a[id*="wpgmza_hide_options_"] {
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 20px;
}

input.wpgmaps_get_directions,
input.wpgmaps_get_directions:active {
    padding: 5px 20px;
}

/*
.wpgmaps_directions_outer_div [id*="wpgmaps_directions_editbox_"] [id*="wpgmaps_directions_reset_"] > br{
	display: none;
}
#wpgmaps_directions_reset_1 > br {
	display: none;
}
*/
.wpgmaps_directions_outer_div [id*="wpgmaps_directions_editbox_"] [id*="wpgmaps_directions_reset_"] > a:first-child {
    border-right: 1px solid #ccc;
    margin-right: 3px;
    padding-right: 5px;
}

/*
#wpgmaps_directions_reset_1 > a:first-child {
	border-right: 1px solid #ccc;
	margin-right: 3px;
	padding-right: 5px;
}
*/

.entry-content h3, .entry-content h3 a {
    color: #777;
    display: block;
    text-decoration: none;
    outline: none;
    line-height: normal;
}

.entry-content h3 {
    padding: 5px;
    background: #f3f3f3;
    font-size: 14px;
}

#tablepress-3 .row-1 td {
    background-color: #D9EDF7;
    font-weight: 700;
}

.tablepress tbody tr:first-child td {
    border-top: 0;
}

#tablepress-3 .row-13 td {
    background-color: #D9EDF7;
    font-weight: 700;
}

.tablepress tbody td, .tablepress tfoot th {
    border-top: 1px solid #ddd;
}

.tablepress .odd td {
    background-color: #f9f9f9;
}

.tablepress .row-hover tr:hover td {
    background-color: #f3f3f3 !important;
}

.entry-content h3 {
    font-size: 27px;
    color: #419438;
    line-height: 32px;
    font-family: "Myriad Pro";
    font-weight: 400;
    background: transparent;
}

.school_img img {
    max-height: 145px !important;
    min-width: 210px !important;
}

.school_box .school_tital {
    font-size: 25px;
}

.recent_posts .rpwe-time {
    color: #336b1b !important;
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}

.rpwe-summary a {
    color: #336b1b !important;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

.rpwe-summary .rpwe-time.published {
    margin-left: 15px !important;
}

.linkimg {
    background: url("images/red_more_add_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: hsl(109, 56%, 37%);
    float: left;
    font-size: 14px;
    padding-left: 24px;
}

.commentimg {
    margin-left: 15px !important;
    background: url("images/comment_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: hsl(109, 56%, 37%);
    float: left;
    font-size: 14px;
    padding-left: 24px;
}

.rpwe-ul-img .rpwe-clearfix {
    border-bottom: medium none;
    float: left;
    margin-bottom: 0;
    margin-right: 37px;
    width: 30.8%;
}

.new_campus .summer li {
    border: none !important;
}

.rpwe-block2 {
    margin-top: 20px;
    float: left;
    margin-left: 40px;
    width: 60% !important;
}

.rpwe-block1 {
    margin-top: 20px;
    width: 35% !important;
    float: left;
}

.new_campus .summer li {
    width: 31% !important;
}

.ai1ec-event a {
    border: none !important;
}

.ai1ec-agenda-widget-view .ai1ec-date {
    border-top: none !important;
}

.new_campus .ai1ec-agenda-widget-view .ai1ec-event .ai1ec-allday-badge {
    vertical-align: bottom !important;
}

.ai1ec-agenda-widget-view .ai1ec-date, .ai1ec-agenda-view .ai1ec-date {
    background: transparent !important;
    border: 0 !important;
}

.ai1ec-event {
    border: 0 !important;
}

.ai1ec-views-dropdown.ai1ec-btn-group.ai1ec-pull-right {
    display: none;
}

#outerImageContainer {
    width: 80% !important;
    height: auto !important;
}

#lightboxImage {
    height: auto !important;
    width: 100% !important;
}

#imageDataContainer {
    width: 80% !important;
}

#prevLink {
    height: 100% !important;
}

#nextLink {
    height: 100% !important;
}

.campus_images img {
    height: 125px;
    width: 181px;
}

#qtranslate-2-chooser {
    width: 100px;
}

section.wrapper.recent .patten_tital h2 {
    color: #fff;
    margin-top: 30px;
    font-family: Bitter, Georgia, serif;
    margin-bottom: 10px;
}

.recent-post-carousel.design-7 h2.post-title {
    margin-top: 20px !important;
    height: 40px;
    line-height: 0px !important;
}

section.wrapper.recent h2.post-title a {
    color: #336b1b;
    font-size: 14px;
    font-family: Bitter, Georgia, serif;
}

section.wrapper.recent .post-date {
    display: none;
}

section.wrapper.recent .post-grid-content {
    background: #fff;
    padding: 5px;
}

.recent-post-carousel .slick-slide {
    padding: 0px 5px !important;
}

section.school_section.logos-hide_arroaws .nbs-flexisel-nav-left {
    visibility: hidden;
}

section.school_section.logos-hide_arroaws .nbs-flexisel-nav-right {
    visibility: hidden;
}

.ai1ec-event-summary {
    display: none !important;
}

.ai1ec-agenda-view .ai1ec-event.ai1ec-expanded {
    border-color: #808080;
    -webkit-box-shadow: 0 2px 4px #e0e0e0;
    box-shadow: 0 0 0;
    border: 0 !important;
}

.ai1ec-event-toggle {
    display: none;
}

.campus_images img {
    height: 161px;
    width: 181px;
}

.tab_frame {
    background: #004890;
    border-radius: 5px;
    padding: 10px 15px 15px 15px;
    float: left;
    width: 100%;
    margin-bottom: 33px;
}

.tab_frame .tab_white {
    background: #fff;
}

.tab_white ul li {
    float: right;
    margin-left: 6px;
}

.tab_white ul {
    width: 50%;
    float: right;
    border-bottom: 0;
    margin-bottom: 4px;
}

.tab_white h2 {
    float: left;
    color: #fff;
    font-family: Bitter, Georgia, serif;
}

a#facebook_tab i, a#twitter_tab i {
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top: 2px;
    margin-left: 5px;
}

a#twitter_tab i {
    margin-left: 0px;
}

i.fa.fa-facebook:hover, i.fa.fa-twitter:hover {
    opacity: 0.5;
    color: #fff;
    border: 0;
}

a#facebook_tab:hover, a#twitter_tab:hover {
    color: #fff;
}

li.facebook_tab.active a, li.twitter_tab.active a {
    opacity: 1;
}

li.facebook_tab a, li.twitter_tab a {
    opacity: .5;
}

.facebook_tab {
    width: 40px;
    height: 40px;
}

.twitter_tab {
    width: 40px;
    height: 40px;
}

#facebook_tab {
    background: #3b558a;
    border-radius: 50%;
    color: #fff;
    border: 0;
}

#twitter_tab {
    background: #4D90FE;
    border-radius: 50%;
    color: #fff;
    border: 0;
}

div#home, #menu1 {
    margin-top: 10px;
    padding: 10px;
}

.tab-content {
    float: left;
    width: 100%;
    background: #fff;
}

div#home a {
    color: #004890;
}

li.facebook_tab.active:after {
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    bottom: -12px;
    left: 10px;
}

li.twitter_tab.active:after {
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    bottom: -12px;
    left: 10px;
}

section.school_section.school_logos {
    display: none;
}

.aiwidgetscss.widget {
    background: transparent;
}

/*h3.widget-title {
    display: none;
}*/

p.thinkTwitFollow {
    display: none;
}

.community_life a.grey_but span:first-child {
    background: #e9e9e9;
    color: #737070;
}

@media (max-width: 768px) {
    .rpwe-block1 {
        width: 100% !important;
    }

    .rpwe-block2 {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .campus_images img {
        height: 125px;
        width: 181px;
    }
}

.recent-post-carousel.design-7.slick-initialized.slick-slider, .slick-track {
    height: 300px !important;
}

.recent-post-carousel.design-7 {
    padding-bottom: 35px;
    height: 247px !important;
    overflow: hidden;
    margin-bottom: -6px;
}

.post-slides {
    width: 243px;
    float: left;
    margin-left: 7px;
}

#cff .cff-author {
    float: left;
    width: 50% !important;
}

p.cff-post-text {
    float: right !important;
    width: 50% !important;
    clear: none !important;
}

@media (max-width: 768px) {
    #cff .cff-author {
        float: left;
        width: 46% !important;
    }

    p.cff-post-text {
        float: right !important;
        margin-left: 5px !important;
        width: 45% !important;
        clear: none !important;
    }

    .cff-post-links {
        width: 100%;
    }

    .bilingualism_practice p {
        height: auto;
        margin-bottom: 5px;
    }

    h3.enrol_section {
        margin-bottom: 30px;
    }

    .school_img img {
        max-height: 196px !important;
    }
}

.post-slides.slick-slide.slick-active:focus {
    outline: 0;
}

p > iframe#panoramaFrame {
    display: none !important;
}

div#panoViewer {
    height: 300px !important;
    margin-bottom: -70px;
}

div#startTour {
    position: fixed;
    z-index: 9999999;
    right: 0;
    width: 34%;
    background: white;
}

div#startTour img {
    width: 105px;
    position: fixed;
    right: 25px;
    /* background: white; */
    top: 29px;
}

.animated {
    -webkit-animation-duration: 3s !important;
    animation-duration: 3s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#close {
    right: 0;
    z-index: 100;
    position: fixed;
    /* background: #fff; */
    margin-top: 136px;
    width: 105px;
    margin-right: 25px;
    font-size: 16px;
    padding: 4px;
    text-align: left;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    visibility: hidden;
}

.set_hide {
    display: none !important;
}

div#startTour h3 {
    position: fixed;
    z-index: 999;
    right: 0;
    font-size: 16px;
    margin-right: 10px;
    padding-top: 9px;
    width: 128px;
    text-align: center;
    background: transparent;
    color: #336B1B;
    font-weight: bold;
}

div#close i {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 5px 6px;
    color: #000;
}

.titleColor h3 {
    color: #fff !important;
}

@media (min-width: 768px) {
    .enrol_now_wp.fr_button a {
        padding-top: 50px; /* margin-left: -59%; */
        float: left;
        display: block;
    }

    .enrol_now_wp.fr_button {
        text-align: left;
        float: left;
        margin-left: -58%;
        margin-top: 20%;
    }
}

.holdiays_img{
width:340px!important;
height:323px!important;
}