.about {
  .vc_column-inner {
    padding-top: 0 !important;
  }
  .about_us {
    font-family: RalewayR;
    font-size: 14px;

    .vc_column-inner {
      padding-top: 0 !important;
    }

    .vc_sep_line {
      height: 0;
      border-top: 0;
    }
    .wpb_content_element {
      color: #2d2d2d;
      line-height: 1.5;
    }
  }
  h4{
    font-family: Oswald;
    color: #00458d;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-top: 94px !important;
    padding-bottom: 60px !important;
  }


}

.leran_more_btn {
  padding: 0 0 102px !important;
  margin: 0;
  .padding_between {
    background: #E5322C;
    padding: 4px;
    width: 268px;
    margin: 0 auto;
    button {
      padding: 6px 50px !important;
      background: #e5322c !important;
      color: #fff !important;
      text-transform: uppercase;
      font-size: 24px !important;
      border: 1px solid #e9514b !important;
    }
  }

}

.director_box_1, .director_box_2, .director_box_3, .director_box_4{
  line-height: 0;
}