.academics {
  font-family: RalewayR;
  .academics_image {
    border: 4px solid #1b436b;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 17% 32px;
  }



  h2{
    font-family: Oswald;
  }
  h4 {
    font-size: 24px;
    margin: 0;
  }
  h5 {
    font-size: 18px !important;
    margin-bottom: 0;
    margin-top: 5px;
  }
  a, a:hover {
    color: #69a205;
    font-size: 14px;
    text-decoration: none;
  }

}