.banner {
  display: block;
  margin-top: -56px;
  position: relative;
  .responsive-slider {
    margin-bottom: 0;
  }
  .banner-image img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  ol.flex-control-nav {
    visibility: hidden;
  }
}

.slides {
  li {
    margin-right: 0 !important;
  }
}

.responsive-slider.flexslider {
  .slides img {
    width: 100%
  }
  .slide-title a {
    .slider_text{
      margin-top: 5%;
      background: rgba(255, 255, 255, 0.7);
      font-size: 36px;
      color: #232323;
      font-family: PT_Sans;
      line-height: 1;
      padding: 20px 170px 20px 70px;
      .red {
        color: #e5322c;
      }
      .blue {
        color: #0052ad;
      }
    }

  }
  .slide-title a:hover {
   .slider_text{
     color: initial;
     background: rgba(255, 255, 255, 0.78);
   }
  }

}


.responsive-slider.flexslider .slide-title a ,.responsive-slider.flexslider .slide-title a:hover {
  background: transparent;
  top: 0;
  margin-top: 5%;
  right: 0;
  padding: 0;
}


div#scroll_to {
  margin: 0 auto;
  margin-top: -37px;
  span.btn_srcoll {
    display: block;
    margin: 0 auto;
    text-align: center;
    i.fa.fa-chevron-circle-down {
      margin: 0 auto;
      position: relative;
      z-index: 1;
      font-size: 40px;
      top: -60px;
      color: #fff;
      span {
        display: none;
      }
    }
    i.fa.fa-chevron-circle-down:hover {
      span {
        display: block;
        margin-top: -49px;
        font-size: 26px;
        font-family: OpenSans;
        float: left;
        margin-left: 35px;
        background: rgba(253, 253, 253, 0.56);
        padding: 8px;
        color: #000;
      }
    }
  }
}

.banner_shadow {
  display: none;
}

