.blog_page {

  h3.blog_title {
    background: #00458d;
    font-size: 18px;
    font-family: OpenSans;
    padding: 24px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .single_post {
    color: #fff;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
    .title {
      a, a:hover {
        font-family: Roboto;
        color: #00458d;
        font-size: 24px; /* Approximation due to font substitution */
        font-weight: 300;
        text-align: left;
        text-decoration: none;
        width: 50%;
        display: inline-block;
      }
    }
    .social {
      float: right;
      width: 50%;
      .bottomcontainerBox {
        display: block;
      }
      .bottomcontainerBox > div {
        float: right !important;
      }
    }
    .bottomcontainerBox {
      display: none;
    }
    .time {
      background: #00458d;
      width: 78px;
      height: 84px;
      span {
        display: block;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        padding: 5px;

      }

      .day {

        color: #ffffff;
        font-size: 30px; /* Approximation due to font substitution */
        font-weight: 400;
        text-align: center;
      }
      .month {
        font-size: 14px;

      }
      .year {
        background: #ef4135;
        font-size: 15px;
        height: 25px;
        padding: 5px;
      }
    }
    .content, p {
      font-family: Roboto;
      color: #313130;
      font-size: 16px; /* Approximation due to font substitution */
      font-weight: 300;
      line-height: 24px; /* Approximation due to font substitution */
      text-align: left;
    }
    .line_box {
      display: block;
      width: 100%;
      height: 1px;
      background: #e1e1e1;
      margin: 12px 0 40px;
      .box {
        width: 30%;
        height: 4px;
        background: #2777a8;
        display: block;
        float: left;
        margin-top: -3px;
      }

    }

    .read_more {
      display: inline-block;
      padding: 30px 0;
      a {
        text-decoration: none;
        color: #2777a8;
        font-family: Roboto;
        text-transform: capitalize;
        font-size: 16px;
      }
    }
    .author {
      color: #000;
      font-style: italic;
      font-family: Roboto;
      a {
        color: #2777a8;
      }

      ul.post-categories {
        padding: 0;
        display: inline-block;
        li {
          list-style-type: none;
          display: inline-block;
        }
      }

    }

    .col-md-2, .col-md-10 {
      padding: 0;

      img {
        width: 30%;
        float: left;
        padding-right: 10px;
      }
    }

  }
  .blog_content {
    padding-top: 90px;
  }

  .blog_sidebar_menu {
    padding-right: 50px;
    background-image: url("../images/shadow.png");
    background-repeat: no-repeat;
    background-position:274px 0;
    padding-top: 90px;

    h4 , h2.widget-title{
      background: #439539;
      font-family: OpenSans;
      font-size: 18px;
      color: #fff;
      margin: 0;
      padding: 10px;
      text-transform: capitalize;
    }
    .sp_post_static {
      background: #efefef;
      .post-image-bg {
        display: none;
      }
      .post-content {
        .post-title, a {
          margin: 0;
          line-height: 1;
          font-family: OpenSans;
          color: #1b1b1b;
          font-size: 14px;
        }
        .post-date {
          margin: 0;
          font-family: Roboto;
          color: #2777a8;
          font-size: 14px;
          display: block;
        }
      }
      .post-grid {
        position: relative;
        padding: 0;
        margin-bottom: 0;
        text-align: left;
        border-bottom: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 30px;
      }
    }



    .popular{
      padding: 35px 0;
      ul {
        padding: 0;
        li {
          padding: 10px 0 10px 25px;
          border-bottom: 1px solid #b6c9ab;
          list-style-type: none;
          background: #efefef;
          a {
            color: #000;
            font-family: OpenSans;
            text-decoration: none;
          }
          a:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #56664d;
            float: left;
            margin-left: -15px;
            margin-top: 0px;
            float: left;
          }
        }
      }
      .tagcloud {
        padding-top: 30px;
        a, a:hover {
          text-decoration: none;
          font-family: Roboto;
          color: #00458d;
        }
        a:nth-child(1) {
          font-size: 18px !important;
        }
        a:nth-child(2) {
          font-size: 19px !important;
        }

        a:nth-child(3) {
          font-size: 26px !important;
        }

        a:nth-child(4) {
          font-size: 27px !important;
        }

        a:nth-child(5) {
          font-size: 16px !important;
        }

        a:nth-child(6) {
          font-size: 25px !important;
        }

        a:nth-child(7) {
          font-size: 21px !important;
        }

        a:nth-child(8) {
          font-size: 29px !important;
        }

        a:nth-child(9) {
          font-size: 23px !important;
        }

        a:nth-child(10) {
          font-size: 31px !important;
        }

        a:nth-child(11) {
          font-size: 22px !important;
        }

        a:nth-child(12) {
          font-size: 30px !important;
        }
      }
    }

    .popular_tags {

    }

  }

}

.entry-content {
  .bottomcontainerBox {
    display: none;
  }
}

.pagination {
  display: block;
  .wp-pagenavi {
    float: right;
    margin-bottom: 50px;
    span.current {
      background: #00458d;
      color: #fff;
      font-weight: normal;
    }
    span, a {
      color: #000;
      border: 0;
      font-family: OpenSans;
      font-size: 14px;
      background: #dcdada;
    }
    span.pages {
      display: none;
    }
  }
}

.category {
  .blog_page {

    h3.blog_title {
      background: #4b9021;

      p {
        background: #4b9021;
      }
    }
  }

}

body.archive.tag .banner , body.single .banner {
  height: 600px;
  overflow: hidden;
  width: 100%;
}
body.archive.tag .banner img , body.single .banner img{
  width: 100%;
}


div#outerImageContainer {
  width: 80%!important;
  height: auto!important;
}



#lightboxImage {
  height: auto !important;
  width: 100% !important;
}

#imageDataContainer {
  width: 80% !important;
}

#prevLink {
  height: 100% !important;
}

#nextLink {
  height: 100% !important;
}

.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item {
  text-align: center;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}

.gallery {
  float: left;
}


nav.navigation.post-navigation {
  margin: 0 15px 60px;
}



.entry-meta {
  display: block;
  margin-bottom: 10px;
  span.posted-on {
    margin-left: -15px;
  }
}


body.single{
  .blog_page .blog_sidebar_menu{
    margin-bottom: 50px;

  }
  nav.navigation.post-navigation {
    margin: 0 0px 60px;
  }


  .inner_page .entry-content {
    margin-bottom: 50px;
    line-height: 2;
  }

  .inner_page.blog_page{
    margin-top: 100px;
  }

  span.the_directors_content {
    display: block;
    margin-bottom: 27px;
  }


  .navigation .nav-box {
    width: 48%
  }

  .navigation .nav-box a {
    color: #004990
  }

  .navigation .nav-box a img {
    background: #efefef;
    padding: 2px;
    border: 1px solid #dfdfdf;
    min-height: inherit;
    width: auto;
    width: 240px;
    height: 143px;
    display: block;
    margin-top: 23px;
    position: absolute;

  }

  .navigation .nav-box a:hover {
    color: #439639
  }

  .navigation .previous img {
    float: left;
    margin-right: 10px;

    left:15px;
  }

  .navigation .next img {
    float: right;
    margin-left: 10px;
    right: 15px;

  }
  .navigation {
    float: left;
    width: 100%;
    height: 260px;
    margin-top: 35px;
  }
}






