#box_section {
  .box_1 {
    background: #49c5df;
    min-height: 260px;
    .title {
      background: #059fdf;
    }
  }

  .box_2 {
    background: #fc9536;
    min-height: 260px;
    .title {
      background: #ffbd35;
    }
  }

  .box_3 {
    background: #4d968b;
    min-height: 260px;
    .title {
      background: #3c7e74;
    }
  }

  .box_4 {
    background: #c0d145;
    min-height: 260px;
    .title {
      background: #b0c039;
    }
  }

  .box_1 > div, .box_2 > div, .box_3 > div, .box_4 > div {
    color: #fff;
    padding: 0 !important;
    text-align: center;
    font-family: RalewayR;
    .wpb_text_column {
      padding: 0 30px;
    }
    .vc_icon_element-icon {
      color: #fff !important;
    }
    .vc_sep_line {
      visibility: hidden;

    }
    h4 {
      font-size: 36px;
      color: #fff;
      padding: 10px !important;
      line-height: 1;
      margin: 0!important;
    }

    .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
      border: 0;
      width: 50px;
      height: 50px;
    }
    .wpb_single_image {
      margin-bottom: 9px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .wpb_content_element {
      margin-bottom: 20px;
    }

    .widget_text {
      .textwidget {
        a, a:hover {
          color: #fff;
          border-bottom: 2px solid #fff;
          text-decoration: none;
        }

      }
    }
  }

}