.education_section {
  .education_blocks {
    .education_post_1 {
      figure, .vc_single_image-wrapper, img {
        width: 100%;

      }
      .bilingual_text {
        display: block;
        position: absolute;
        bottom: 45px;
        background: #fff;
        padding: 20px 100px 20px 40px;
        z-index: 50;
        .title {
          font-family: RalewayR;
          font-size: 40px;
          color: #374149;
          line-height: 1;
          strong {
            color: #731d45;
          }
        }
        p {
          font-family: OpenSans;
          font-size: 14px;
          line-height: 1.5;
          padding-top: 8px;
        }
        a, a:hover {
          font-family: OpenSans;
          font-size: 14px;
          color: #141414;
          border-bottom: 1px solid #141414;
          margin-bottom: 2px;
          text-decoration: none;
        }
      }
    }
    .education_post_2, .education_post_1 {
      figure, .vc_single_image-wrapper, img {
        width: 100%;
      }
      h2 {
        font-family: RalewayR;
        font-size: 40px;
        display: inline;
        color: #fff;
        position: absolute;
        bottom: 60px;
        left: 15px;
        z-index: 10;
        text-decoration: none;
        strong {
          color: #31c44e;
          font-weight: normal;
          display: block;
        }
      }

      a, a:hover{
        text-decoration: none;
        color: #fff;
      }

    }

    #triangleBlack, #triangleBlack1 {
      content: "";
      display: block;
      position: absolute;
      z-index: 9;
      width: 0;
      top: 0;
      height: 0;
      border-style: solid;
      border-width: 569px 0 0 606px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.28);
    }

    #triangleBlack {
      left: 0;
    }
  }
}



