
.box_section {
  .vc_single_image-wrapper.vc_box_border_grey {
    img {

      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    img:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }

  }
}

.academics {
  .vc_single_image-wrapper {
    img:hover {
      -webkit-transform: rotateX(-360deg);
      -moz-transform: rotateX(-360deg);
      -o-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
      transition: 2s;
      transform-style: preserve-3d;
    }
  }
}

.services_section {
  .vc_single_image-wrapper {
    img:hover {
      -webkit-transform: rotateX(-360deg);
      -moz-transform: rotateX(-360deg);
      -o-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
      transition: 2s;
      transform-style: preserve-3d;
    }
  }
}

.adverts_section {
  .vc_single_image-wrapper {
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    img:hover{
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}




