@include font-face("PT_sans", "../fonts/ptc55f-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("glyphicons", "../fonts/glyphicons-halflings-regular", $file-formats: eot woff2 woff ttf svg);
@include font-face("Roboto", "../fonts/roboto-regular-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("fa", "../fonts/fontawesome-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("RalewayR", "../fonts/Raleway-Regular", $file-formats: eot woff ttf svg);
@include font-face("Oswald", "../fonts/Oswald-Regular", $file-formats: eot woff ttf svg);
@include font-face("OpenSans", "../fonts/OpenSans", $file-formats: eot woff ttf svg);

.glyphicon-phone:before {
  content: "\e145"
}

#logged-in {
  padding-top: 32px;
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

body.home.page h1.entry-title {
  display: none;
}

#logged-in {
  .is-sticky {
    top: 32px;
  }
}

.is-sticky {
  position: fixed !important;
  top: 0;
  z-index: 9999999 !important;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.single-post .entry-content {
  font-family: Roboto;
  p {
    color: #313130;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
  }

}

.body-admissions {
  table {
    background-color: #6d74ab;
  }
}

.body-about-us .about_us > li:nth-child(2) {
  display: block;
}

.body-about-us .about_us > li {
  display: none;
}

.body-academics .about_us > li:nth-child(3) {
  display: block;
}

.body-academics .about_us > li {
  display: none;
}

.body-school-life .about_us > li:nth-child(4) {
  display: block;
}

.body-school-life .about_us > li {
  display: none;
}

.body-admissions .about_us > li:nth-child(5) {
  display: block;
}

.body-admissions .about_us > li {
  display: none;
}

.body-contact .about_us > li:nth-child(7) {
  display: block;
}

.body-contact .about_us > li {
  display: none;
}

.img_box_1, .img_box_2 {

  img {
    height: 217px;
    margin: 10px 3px !important;
  }
  & > div {
    padding: 0 !important;
  }

}

.img_box_2 p {
  margin-left: 10%;
  font-weight: bold;
}

.img_box_1 p {
  margin-right: 10%;
  font-weight: bold;
}

body.archive.category {
  .banner {
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

ul.square_list {
  padding-left: 15px;
  li {
    margin-bottom: 13px;
    padding-left: 0;
  }
}

body .banner {
  width: 100%;
}

.vfb-radio label {
  display: block !important;
  position: relative !important;
  margin-bottom: 24px !important;
}

h1.wps-spottitle {
  color: #fff !important;
  display: none;
}