.under_header_color {
  display: block;
  width: 100%;

  .box_1, .box_2, .box_3, .box_4 {
    width: 25%;
    float: left;
    margin-right: 0;
    height: 11px;
  }

  .box_1 {
    background: #059fdf;
  }
  .box_2 {
    background: #ffbd35;
  }
  .box_3 {
    background: #3c7e74;
  }
  .box_4 {
    background: #b0c039;
  }

}

.inner_page {

  input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    display: block;
  }

  label {
    font-family: OpenSans;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
  }

  select {
    padding: 6px;
    border-radius: 3px;
  }

  textarea {
    height: 70px;
    margin-bottom: 10px;
  }

  button {
    border-radius: 0;
    margin-bottom: 30px;
    background: #C6DCB9;
    font-size: 14px;
    font-weight: 400;
    color: #2D2D39;
    border: 1px solid #56664D;
    font-family: OpenSans;
  }

  header {
    h1, h2 {
      font-family: PT_sans;
      color: #00458d;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      text-align: center;
      padding: 55px 0;
      text-transform: capitalize;
      word-wrap: break-word;
    }
  }

  h3 {
    font-family: OpenSans;
    font-size: 27px;
    color: #419438;
    line-height: 32px;
    display: inline-block;
    p {

      background: #00458d;
      font-size: 18px;
      padding: 0px;
      margin: 0;
      color: #ffffff;
      line-height: 1;
      text-align: center;

    }
  }

  .sidebar_menu {
    margin-bottom: 100px;
    ul {
      li {
        list-style-type: none;
        margin-bottom: 10px;
        a {
          font-family: OpenSans;
          color: #2d2d2d;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
          width: 300px;
          background: #efefef;
          border: 1px solid #c6dcb9;
          padding: 10px 16px;
          display: inline-block;

        }

        a.active {
          background: #439539 !important;
          color: #fff !important;
        }
        a.active:after {
          content: "\f068";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          float: right;
          color: #fff;
          font-size: 14px;
          margin-top: 4px;
        }

        ul {
          padding: 0;
          width: 300px;
          overflow: hidden;
          background: #c6dcb9;
          li {
            margin: 0;

            a {
              background: #c6dcb9;
              font-size: 14px; /* Approximation due to font substitution */
              font-weight: 400;
              line-height: 32px; /* Approximation due to font substitution */
              text-align: left;
              border-bottom: 1px solid #b6c9ab;
              padding: 6px 34px;
            }
            .active {
              color: #1b1b1b !important;
              background: #fff !important;
              margin-left: 3px !important;
            }

            a.active:after {

              float: right;
              color: #000000;
              font-size: 14px;
              margin-top: 8px;
              margin-right: -14px;
            }

            a:before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid #56664d;
              float: left;
              margin-left: -19px;
              margin-top: 11px;
              float: left;
            }
            a:after {
              display: none !important;
            }

            ul li {
              .active {
                margin-left: 6px !important;
                background: #ccc !important;
              }
              a {
                margin-left: 6px;
                background: #A3D170;
              }

              ul li {
                a {
                  margin-left: 9px !important;
                  background: #8FB367;
                }
                .active {
                  margin-left: 9px !important;
                  background: #888 !important;
                }
              }

            }

          }
        }
      }

      .menu-item-has-children {
        a:after {
          content: "\f067";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          float: right;
          color: #000;
          font-size: 14px;
          margin-top: 4px;
        }
      }

    }

  }

  ul.about_us {
    li {
      a {
        width: 100%;

      }
      ul {
        width: 100%;
      }
    }

  }

  p {
    font-family: OpenSans;
    color: #2d2d2d;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 22px; /* Approximation due to font substitution */
    text-align: left;
    img {
      display: block;
      margin: 5px auto;
    }
    img.alignright {
      float: right;
      margin: 5px 0 5px 20px !important;
    }
    img.alignleft {
      float: left;
      margin: 5px 20px 5px 0px !important;
    }
  }

  #directors {
    .director_box_1, .director_box_2, .director_box_3, .director_box_4 {
      img {
        border-radius: 50%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }

      h4 {
        margin: 0;
        padding: 34px 0 0 0;
        font-family: RalewayR;
      }
      p {
        font-family: RalewayR;
        font-size: 16px;
        text-align: center;
        color: #2d2d2d;
      }

    }

    .border_around_1, .border_around_2, .border_around_3, .border_around_4 {
      img {
        border-radius: 0;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    }
    .director_box_1 > div, .director_box_2 > div, .director_box_3 > div, .director_box_4 > div {
      margin-bottom: 80px;
    }

    .border_around_1 img {
      position: relative !important;
      top: 148px !important;
      left: -35px !important;
      margin-top: -146px !important;
    }

    .border_around_3 img {
      position: relative !important;
      top: 148px !important;
      left: 36px !important;
      margin-top: -146px !important;

    }

    h3 {
      margin: 0;
      font-family: RalewayR;
      margin-bottom: 35px;
    }
  }

  .entry-content {
    margin-bottom: 100px;
    line-height: 2;
  }

  table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;

    font-family: OpenSans;
    td {
      border-top: 1px solid #ededed;
      padding: 6px 10px 6px 0;
    }
  }

}

ul#menu-submenu {
  padding: 0;
}

span.the_directors_content {
  font-size: 25px;
  color: #004b97;
  line-height: 30px;
  font-weight: 400;
}

.inner_page .sidebar_menu ul li ul li.menu-item-has-children > a:after {
  display: block !important;
  /* content: "\f067";
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;*/
  float: right;
  color: #000;
  font-size: 14px;
  margin-top: 6px;
  margin-right: -17px;
}

.inner_page .sidebar_menu ul > li > ul > li.menu-item-has-children > a.active:after {
  display: block !important;
  content: "\f068";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  float: right;
  color: #000;
  font-size: 14px;
  margin-top: 8px;
  margin-right: -14px;
}

.entry-footer {
  font-family: Roboto;
}

