.instagram {
  h2 {
    font-family: Oswald;
  }
  @include respond-to(wide-screens) {
    .sbi_item.sbi_type_image:nth-child(1) a, .sbi_item.sbi_type_video:nth-child(1) a {
      height: 258px !important;
    }
    .sbi_item.sbi_type_image:nth-child(2) a, .sbi_item.sbi_type_video:nth-child(2) a {
      height: 285px !important;
    }
    .sbi_item.sbi_type_image:nth-child(3) a, .sbi_item.sbi_type_video:nth-child(3) a {
      height: 330px !important;
    }
    .sbi_item.sbi_type_image:nth-child(4) a, .sbi_item.sbi_type_video:nth-child(4) a {
      height: 372px !important;
      margin-top: -71px;
    }
    .sbi_item.sbi_type_image:nth-child(5) a, .sbi_item.sbi_type_video:nth-child(5) a {
      height: 343px !important;
      margin-top: -43px;
    }
    .sbi_item.sbi_type_image:nth-child(6) a, .sbi_item.sbi_type_video:nth-child(6) a {
      height: 300px !important;
    }
  }

}

/*.instagram {
  height: 642px;
  @include respond-to(handhelds) {
    height: 300px;
  }
  @include respond-to(medium-screens) {
    width: 400px;
  }
  @include respond-to(wide-screens) {
    height: 642px;
  }
}*/

