.news_section {
  margin: 0;
  .latest_news_block {
    background-image: url("../images/shadow.png");
    background-repeat: no-repeat;
    background-position: 492px;

    .vc_gitem-is-link {
      width: 100%;
      height: 150px;
      display: inline-block;
      border: 3px solid #d0ddc8;
    }
    .vc_gitem-post-data {
      margin-bottom: 5px;
    }

    .vc_gitem-animated-block {
      display: inline-block;
      width: 33%;
      float: left;
    }

    .vc_gitem-zone.vc_gitem-zone-c {
      width: 60%;
      float: left;
      background: #efefef !important;
      font-size: 14px !important;
      color: #2d2d2d;
      font-family: PT_Sans;
      height: 150px;
      margin-left: 5px;

      h4 {
        font-size: 14px;
        color: #1b436b;
        margin-bottom: 0;
        padding-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px;
      }
    }
    .vc_custom_heading {
      p:nth-child(2) {
        height: 60px;
        overflow: hidden;
        line-height: 1.4;
        padding-right: 10px;
        margin-bottom: 20px;
      }

    }
    .vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
      background: transparent;
      color: #2d2d2d;
      padding: 0;
      border-bottom: 1px solid #2d2d2d;
      border-radius: 0;
    }

  }
  h2 {
    font-family: Oswald;
  }
  .latest_news_post .vc_grid.vc_row .vc_grid-item {
    padding-right: 0px;
  }
}

.calendar {
  padding-left: 50px;
  a.ai1ec-date-title.ai1ec-load-view {
    background: #efefef;
  }

  a.ai1ec-date-title.ai1ec-load-view {
    background: #efefef;
  }

  .timely.ai1ec-calendar-toolbar.ai1ec-clearfix {
    display: none;
  }

/*  .ai1ec-clearfix {
   // display: none;
  }*/

  .ai1ec-date {
 
    background-image: linear-gradient(to right, #b5b4b4 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    border-top: 0px !important;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  #ai1ec-calendar {
    margin-top: -10px;
  }

  .ai1ec-event-summary-footer {
    display: none;
  }

  .ai1ec-event-toggle {
    display: none;
  }

  .ai1ec-event {
    border: 0 !important;
    box-shadow: 0 0 0 !important;
  }

  .ai1ec-pull-left {
    display: none;
  }

  a.ai1ec-date-title.ai1ec-load-view {
    width: 75px;
    margin-left: 0px;
  }
  .ai1ec-month {
    background: #1b436b!important;
    height: 24px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: OpenSans;
  }

  .ai1ec-month:before {
    content: " ";
    display: block;
    width: 6px;
    height: 9px;
    background: #000;
    position: absolute;
    border: 1px solid #fff;
    left: 10px;
    margin-top: -8px;
  }

  .ai1ec-month:after {
    content: " ";
    display: block;
    width: 6px;
    height: 9px;
    background: #000;
    position: absolute;
    border: 1px solid #fff;
    left: 57px;
    margin-top: -24px;
  }

  .ai1ec-day {
    font-size: 24px !important;
    padding: 8px !important;
    font-family: Oswald;
    line-height: 1;
  }
  .ai1ec-weekday {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    font-family: OpenSans;
  }

  .ai1ec-event-time {
    font-size: 14px !important;
    color: #57686f;
    font-family: OpenSans;
    padding-top: 5px;
    font-style: italic;
    span.ai1ec-allday-badge {
      background: #4b9021!important;
      border-radius: 0;
      text-transform: capitalize;
      display: block;
      padding: 5px 8px;
      width: 61px;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      font-style: normal;
      margin-top: 10px;
    }
  }
  span.ai1ec-event-title {
    font-size: 16px !important;
    margin-top: -10px !important;
    display: block;
    margin-bottom: 0px !important;
    font-family: OpenSans;
    display: inline-block;
  }


  .ai1ec-event {
    margin: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0!important;
  }

  .ai1ec-event-description {
    display: none;
  }

}


.ai1ec-date.ai1ec-today {
  background: linear-gradient(to right, #b5b4b4 33%, rgba(255, 255, 255, 0) 0%)!important;
  background-position: bottom!important;
  background-size: 6px 1px!important;
  background-repeat: repeat-x!important;
}

.ai1ec-clearfix {
  display: none;
}