@include respond-to(handhelds) {

  .education_section .education_blocks {
    .education_post_2 h2 {
      bottom: 0;
      padding-bottom: 10px!important;
    }
    .education_post_1 h2 {
      bottom: 30px;
      padding-bottom: 10px!important;

    }
  }

  .blog_page .blog_sidebar_menu{
    background: none;
    padding-right: 0;
  }

  div#triangleBlack, div#triangleBlack1 {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.44) !important;
    border-color: transparent !important;
  }

  .inner_page #directors .border_around_1 img {
    position: relative !important;
    top: 148px !important;
    left: -34px !important;
    margin-top: -143px !important;

  }

  ul#menu-sidebar-menu {
    margin-left: 0;
    padding: 0;
  }

  .inner_page #directors .border_around_3 img {
    position: relative !important;
    top: 148px !important;
    left: 36px !important;
    margin-top: -143px !important;
  }

  body.archive.category {
    .banner {
      height: auto;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

  body.single .blog_page .blog_sidebar_menu {
    margin: 0;
    padding: 0;
    margin-top: -100px;
  }

  body.archive.tag .banner, body.single .banner {
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  header {
    .container {
      padding-left: 0 !important;
      div#mega-menu-wrap-primary {
        width: 100%;
        .mega-menu-toggle {
          height: 30px;
          width: 30px;
          margin-top: 10px;
          margin-left: 10px;
          .mega-toggle-block-left {
            float: left;
            margin-left: -2px;
            margin-top: -5px;
          }
        }
        #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
          line-height: 39px !important;
          height: 39px !important;
          width: 100%;
          background: rgba(94, 106, 138, 0.75);
        }

        #mega-menu-primary > li.mega-menu-item > a:hover.mega-menu-link {
          background: #7DAF5F;
        }
      }

    }
  }

  /*header*/
  #navbar-sticky-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    button.navbar-toggle {
      float: left;
      background: transparent;
      color: #000;
      border: 0;
      span {
        background-color: #000000;
      }
    }
  }
  .search-form_header {
    display: none !important;
  }

  .logo img {
    margin: 0 auto;
    margin-top: 0px;
  }
  div#bs-example-navbar-collapse-1 {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 9999;
    ul {
      li {
        width: 100%;
        background: #fff;
        a {
          color: #000;
          border-bottom: 1px dotted #000;
          padding-left: 30px !important;
        }
      }
    }
  }

  nav.navbar.navbar-default .navbar-collapse.collapse.in {
    display: none !important;
  }

  nav#navbar-sticky-wrapper .container {
    margin: 0;
    padding-right: 0;
    div#bs-example-navbar-collapse-1 {
      padding-right: 0;
      .navbar-nav {
        margin: 0px -15px;
      }
    }
  }

  .container_full_size .header_sector {
    span.simple_text {
      padding: 8px 0 6px;
      display: block;
      text-align: center;
      margin: 0 auto;
      font-size: 15px;
    }
    .info {
      .telephone_number {
        display: none;
      }
      .social {
        padding-bottom: 0px;
        float: left;
        margin-left: 0;
        width: 30%;
      }
      .lang {
        width: 70%;
        float: right;
        span.login {
          padding-top: 0;
          padding-left: 15%;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .banner {
    margin-top: 0px;
    min-height: auto !important;
  }

  .responsive-slider.flexslider {

    .slide-title a {
      margin-top: 0;
      font-size: 12px;
      padding: 11px 10px 10px 20px;
      position: absolute;
      top: 30%;
      left: 25%;
      right: 0;
      width: 60%;
      text-align: center;
    }
    h2 {
      display: none;
    }
  }

  div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down {
    top: -30px;
  }

  .about .about_us {
    .vc_separator.vc_separator_align_center h4 {
      font-size: 25px;
    }
    .wpb_content_element {
      padding-top: 30px !important;
      padding-bottom: 0px !important;
    }
    .leran_more_btn {
      padding: 0 0 30px !important;
      margin: 0;
      button {
        font-size: 14px !important;
      }
    }
  }
  .leran_more_btn .padding_between {
    width: 210px;
  }

  .news_section {
    .vc_grid-item-mini.vc_clearfix {
      padding-right: 30px;
    }

    h2 {
      text-align: center !important;
      font-size: 25px !important;
      padding: 30px 0 !important;
    }
    .latest_news_block {
      background-image: none;

      .vc_gitem-is-link {
        width: 100%;
        height: 110px;
      }
      .vc_gitem-animated-block {
        width: 100%;
      }
      .vc_gitem-zone.vc_gitem-zone-c {
        width: 100%;
        font-size: 12px !important;
        height: 110px;
        margin: 0;
      }
      .vc_custom_heading p:nth-child(2) {
        height: 33px;
        overflow: hidden;
        line-height: 1.4;
        padding-right: 10px;
        margin-bottom: -4px;
      }
    }

    .latest_news_post {
      padding: 0 !important;
    }

  }

  .calendar {
    padding-left: 0;
  }

  .instagram {

    h2 {
      text-align: center !important;
      font-size: 25px !important;
      padding: 30px 0 !important;
    }

    .sbi_item.sbi_type_image:nth-child(3) a, .sbi_item.sbi_type_video:nth-child(3) a {
      display: none !important;
    }
    .sbi_item.sbi_type_image:nth-child(4) a, .sbi_item.sbi_type_video:nth-child(4) a {
      display: none !important;
    }
    .sbi_item.sbi_type_image:nth-child(5) a, .sbi_item.sbi_type_video:nth-child(5) a {
      display: none !important;
    }
    .sbi_item.sbi_type_image:nth-child(6) a, .sbi_item.sbi_type_video:nth-child(6) a {
      display: none !important;
    }

  }

  .academics {

    h2 {
      text-align: center !important;
      font-size: 25px !important;
      padding: 30px 0 !important;
    }


    .vc_col-sm-3 {
      margin-bottom: 50px;
    }

    h4, h5 {
      font-size: 16px !important;
    }

  }

  .education_section {
    padding: 30px 0 !important;
    .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
      padding: 18px 13px;
      right: 0;
      left: 25%;
      width: 300px;
      .title {
        font-size: 17px;
      }
      p {
        font-size: 12px;
      }
      a, a:hover {
        font-size: 12px;
      }
    }
  }

  .services_section {
    h2 {
      text-align: center !important;
      font-size: 25px !important;
      padding: 30px 0 !important;
    }

    h3 {
      font-size: 16px !important;
    }

    .circle_1 {
      padding: 8% 32px;
    }

    .circle_2 {
      padding: 6% 32px;
    }

    .circle_3 {
      padding: 6% 32px;
    }

    .vc_col-sm-4 {
      margin-bottom: 50px;
    }

    .leran_more_btn {
      padding: 10px !important;
      padding-bottom: 100px !important;
    }

  }

  #work_section {
    h2 {
      text-align: center !important;
      font-size: 25px !important;
      padding: 20px !important;

    }
    img {
      padding: 25px;
      width: 320px;
    }
    .video_inside {
      width: 258px;
      margin: 0 auto;
      margin-bottom: -178px;
    }
  }

  .footer_side {
    .vc_single_image-wrapper.vc_box_border_grey {
      display: none;
    }

    p {
      font-size: 21px !important;
      text-align: center;
      padding: 10px !important;
    }
  }

  .blue_footer {
    h4 {
      text-align: center !important;
    }
    .angle_image {
      display: none;
    }

    .footer_box_1, .footer_box_2, .footer_box_3, .footer_box_4 {
      height: auto !important;
      padding-left: 0 !important;
      background-image: none !important;
      margin-top: 10px !important;
      h5 {
        padding: 12px !important;
        text-align: center !important;
      }

      p, a, a:hover {
        text-align: center !important;
      }
    }

    .footer_box_4 {
      margin-bottom: 30px;
      input[type="submit"] {
        margin-top: 30px;
      }
    }

    .wpb_single_image.wpb_content_element.vc_align_center {
      top: initial !important;
      bottom: 0;
    }
  }

  .copyright {
    margin: 0 !important;
  }

  .how_to_work .vc_single_image-wrapper {
    margin-bottom: 0px;
  }

  #green_footer_section {
    .footer_side .text_title p {
      font-size: 19px !important;
    }
    .col-md-3 {
      display: none;
    }
  }

}

@media (min-width: 300px) and (max-width: 480px) {
  .academics {
    .circle_1 {
      padding: 14% 32px;
    }
    .circle_2 {
      padding: 16% 32px;
    }
    .circle_3 {
      padding: 15% 32px;
    }
    .circle_4 {
      padding: 15% 32px;
    }
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
    padding: 18px 13px;
    right: 0;
    left: 10%;
    width: 300px;
  }
  .services_section {

  }
  .leran_more_btn .padding_between button {
    font-size: 14px !important;
  }

}

@include respond-to(medium-screens) {


  .blog_page .blog_sidebar_menu{
    background: none;
    padding-right: 0;
  }


  .search-form_header {
    display: none !important;
  }

  .logo img {
    margin: 0 auto;
    margin-top: 0px;
  }

  .about .about_us {
    .vc_separator.vc_separator_align_center h4 {
      font-size: 36px !important;
    }
    .wpb_content_element {
      padding: 30px 0 0 0 !important;
    }
  }

  .container_full_size .header_sector {
    span.simple_text {
      padding: 8px 0 6px;
      display: block;
      text-align: center;
      margin: 0 auto;
      font-size: 15px;
    }
    .info {
      .telephone_number {
        margin: 0 auto;
        text-align: center;
      }
      .social {
        padding-bottom: 0px;
        float: left;
        margin-left: 0;
        width: 43%;
        padding-right: 3%;
      }
      .lang {
        width: 57%;
        float: right;
        span.login {
          padding-top: 0;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .banner {
    margin-top: 0px;
    min-height: auto !important;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px;
  }
  nav.navbar.navbar-default .navbar-collapse {
    padding-left: 7%;
  }

  .responsive-slider.flexslider .slide-title a {
    margin-top: 2%;
    font-size: 23px;
  }
  h2 {
    font-size: 36px !important;
    padding: 30px 0 !important;
  }

  .news_section {

    .latest_news_block {
      background-image: none;

      .vc_gitem-is-link {
        width: 110px;
        height: 110px;
      }
      .vc_gitem-animated-block {
        width: 115px;
      }
      .vc_gitem-zone.vc_gitem-zone-c {
        width: 65%;
        font-size: 12px !important;
        height: 110px;
      }
      .vc_custom_heading p:nth-child(2) {
        height: 33px;
        overflow: hidden;
        line-height: 1.4;
        padding-right: 10px;
        margin-bottom: -4px;
      }

      .vc_grid.vc_row .vc_grid-item {
        padding-right: 30px;
        width: 100%;
      }
    }

    .latest_news_post {
      padding: 0 !important;
    }

  }

  .academics {

  }

  .education_section {
    padding: 30px 0 !important;
    .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
      padding: 18px 13px;
      right: 0;
      left: 25%;
      width: 300px;
      .title {
        font-size: 17px;
      }
      p {
        font-size: 12px;
      }
      a, a:hover {
        font-size: 12px;
      }
    }
  }

  .services_section {

    h2 {
      padding: 30px 0px !important;
    }
  }

  .footer_side p {
    font-size: 24px;
    padding-top: 22px;
  }

  .copyright {
    margin-top: 117px !important;
    h2 {
      font-size: 14px !important;
    }
  }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    background: transparent;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #3e6b9c;
    height: 30px;
    width: 200px;
  }

  .mega-menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
  }

  ul#mega-menu-primary {
    width: 100% !important;
    background: rgba(5, 50, 100, 0.76) !important;
  }

  ul#mega-menu-primary li {
    width: 100% !important;
  }

}

@media only screen and (max-width: 1225px) and (min-width: 1023px) {

  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px;
    padding: 21px 5px;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px;
  }

  .copyright {
    margin-top: 115px !important;
  }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    width: 200px;
  }

  #box_section .box_1 > div h4, #box_section .box_2 > div h4, #box_section .box_3 > div h4, #box_section .box_4 > div h4 {
    min-height: 92px;
    word-wrap: break-word;
  }
}

@media (min-width: 768px) and(max-width: 1100px) {
  .news_section{
  .latest_news_block {
    background-image: none;

    .vc_gitem-is-link {
      width: 100%;
      height: 150px;
      display: inline-block;
      border: 3px solid #d0ddc8;
    }
    .vc_gitem-post-data {
      margin-bottom: 5px;
    }

    .vc_gitem-animated-block {
      display: inline-block;
      width: 33%;
      float: left;
    }

    .vc_gitem-zone.vc_gitem-zone-c {
      width: 60%;
      float: left;
      background: #efefef !important;
      font-size: 14px !important;
      color: #2d2d2d;
      font-family: PT_Sans;
      height: 150px;
      margin-left: 5px;

      h4 {
        font-size: 14px;
        color: #1b436b;
        margin-bottom: 0;
        padding-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px;
      }
    }
  }
}

  #box_section {
    .box_1 {
      background: #49c5df;
      min-height: 365px;
      .title {
        background: #059fdf;
      }
    }

    .box_2 {
      background: #fc9536;
      min-height: 365px;
      .title {
        background: #ffbd35;
      }
    }

    .box_3 {
      background: #4d968b;
      min-height: 365px;
      .title {
        background: #3c7e74;
      }
    }

    .box_4 {
      background: #c0d145;
      min-height: 365px;
      .title {
        background: #b0c039;
      }
    }
  }
  .instagram .sbi_item.sbi_type_image:nth-child(3) a, .instagram .sbi_item.sbi_type_video:nth-child(3) a {
    display: block !important;
  }


  .education_section .education_blocks {
    .education_post_2 h2 {
      bottom: 0;
      padding-bottom: 10px!important;
      strong {
        display: block;
      }
    }
    .education_post_1 h2 {
      bottom: 30px;
      padding-bottom: 10px!important;
      strong {
        display: block;
      }
    }
  }

  #box_section .box_1 > div h4, #box_section .box_2 > div h4, #box_section .box_3 > div h4, #box_section .box_4 > div h4 {
    min-height: 92px;
    word-wrap: break-word;
    font-size: 30px;
  }
}

@media (min-width: 769px) and(max-width: 1100px) {
  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px;
    text-align: center;
  }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    float: left;
    width: 100px !important;
  }

  .container_full_size .is-sticky a.navbar-brand {
    display: none !important;
  }




  div#triangleBlack, div#triangleBlack1 {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.44) !important;
    border-color: transparent !important;
  }

  .education_section .education_blocks .education_post_1 h2 {
    bottom: 0px;
    padding-bottom: 10px !important;
  }


}



