.services_section {
  font-family: RalewayR;
  .services_image {
    border: 4px solid #439539;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 17% 32px;
  }


  h3 {
    padding-top: 27px !important;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3 !important;
  }

  .leran_more_btn {
    padding: 100px !important;
  }
  h2 {
    font-family: Oswald;
  }

}

.how_to_work {
  h2 {
    font-family: Oswald;
  }
  .vc_single_image-wrapper {
    margin-bottom: 60px;
  }
  .video_inside {
    width: 600px;
    margin: 0 auto;
    margin-bottom: -355px;
  }
}