@charset "UTF-8";
.container_full_size:before, .container_full_size:after {
  content: "";
  display: table;
  clear: both; }

.container_full_size {
  margin-right: auto;
  margin-left: auto; }
  .container_full_size .header_sector {
    display: inline-block;
    width: 100%;
    padding: 12px 0 6px; }
    .container_full_size .header_sector .logo img {
      height: 80px; }
    .container_full_size .header_sector span.simple_text {
      font-size: 24px;
      color: #44963a;
      font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
      font-style: italic;
      padding: 35px 0 15px;
      display: inline-block; }
    .container_full_size .header_sector .info {
      display: inline-block;
      width: 100%;
      text-align: right; }
      .container_full_size .header_sector .info .telephone_number {
        display: inline-block;
        width: 100%;
        padding: 5px 0 10px;
        font-size: 14px; }
        .container_full_size .header_sector .info .telephone_number span {
          font-size: 20px;
          color: #439539;
          display: inline-block;
          padding-right: 5px;
          margin-top: -3px; }
      .container_full_size .header_sector .info .social {
        display: inline-block;
        padding-bottom: 10px; }
        .container_full_size .header_sector .info .social i {
          font-size: 12px;
          padding-left: 2px; }
        .container_full_size .header_sector .info .social a, .container_full_size .header_sector .info .social a:hover {
          color: #000;
          text-decoration: none; }
      .container_full_size .header_sector .info .lang {
        display: inline-block;
        width: 100%; }
        .container_full_size .header_sector .info .lang span.login {
          float: left;
          height: 22px;
          padding-top: 4px; }
          .container_full_size .header_sector .info .lang span.login a {
            color: #e5322c;
            font-family: PT_sans; }
        .container_full_size .header_sector .info .lang #language_switcher {
          display: inline-block; }
        .container_full_size .header_sector .info .lang #lang_sel {
          height: 22px;
          text-align: left; }
          .container_full_size .header_sector .info .lang #lang_sel li {
            width: 112px;
            height: 22px;
            position: relative;
            z-index: 999; }
        .container_full_size .header_sector .info .lang #lang_sel a.lang_sel_sel, .container_full_size .header_sector .info .lang #lang_sel a.lang_sel_sel:visited {
          background: #c3c3c2; }
  .container_full_size a.navbar-brand {
    display: none !important;
    margin-left: -80px !important;
    margin-top: -5px;
    display: inline-block;
    position: absolute; }
  @media (max-width: 1100px) {
    .container_full_size a.navbar-brand {
      display: none !important; } }
  .container_full_size .is-sticky a.navbar-brand {
    display: block !important; }

nav.navbar.navbar-default {
  background: rgba(0, 82, 173, 0.56);
  border: 0;
  margin: 0;
  min-height: 56px;
  height: 56px;
  position: relative;
  z-index: 1;
  border-radius: 0; }
  nav.navbar.navbar-default .navbar-nav > .active > a,
  nav.navbar.navbar-default .navbar-nav > .active > a:hover,
  nav.navbar.navbar-default .navbar-nav > .active > a:focus {
    background: #439539;
    color: #fff; }
  nav.navbar.navbar-default .navbar-nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: PT_sans; }
  nav.navbar.navbar-default .navbar-nav > li > a {
    padding: 21px 12px; }
  nav.navbar.navbar-default .navbar-collapse {
    height: 56px !important;
    display: inline-block !important;
    padding: 0 !important; }
  nav.navbar.navbar-default .search-form_header {
    display: inline-block;
    width: 20%;
    float: right;
    margin-right: 2%; }
    nav.navbar.navbar-default .search-form_header form {
      text-align: right;
      padding-right: 5px; }
      nav.navbar.navbar-default .search-form_header form .input-group.clearfix input {
        width: 200px !important;
        background: #b4c1d1;
        border-radius: 0;
        border: 1px solid #fff;
        height: 31px; }
      nav.navbar.navbar-default .search-form_header form button.btn-transparent {
        display: inline-block;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        background: transparent;
        height: 31px;
        margin-left: -50px;
        position: relative;
        z-index: 13; }

.navbar.navbar-default.is-sticky {
  background: #042850;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

.slider a.link_image img {
  height: 606px !important; }

.padding_between:before, .padding_between:after {
  content: "";
  display: block;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.9) 0%, transparent 90%);
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  bottom: 30px;
  margin-top: -8px;
  margin-bottom: 4px; }

.padding_between:after {
  margin-bottom: -9px;
  margin-top: 6px; }

.padding_between:hover:before, .padding_between:focus:before, .padding_between:active:before, .padding_between:hover:after, .padding_between:focus:after, .padding_between:active:after {
  opacity: 1; }

li.open > a {
  background-color: #439539 !important; }

.navbar-nav > li ul {
  background: #439539;
  padding: 0; }
  .navbar-nav > li ul li {
    border-bottom: 1px solid #0C3607;
    padding: 0; }
    .navbar-nav > li ul li a {
      padding: 5px 10px; }
    .navbar-nav > li ul li a:hover {
      background: #000; }

div#mega-menu-wrap-primary {
  font-family: OpenSans;
  background: transparent;
  float: left;
  /* .menu li.menu-item-has-children ul li  a:before{
     display: none!important;
   }*/ }
  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    line-height: 12px !important;
    height: 56px !important; }
  div#mega-menu-wrap-primary .mega-current-page-ancestor > a {
    background: #439539 !important; }
  div#mega-menu-wrap-primary .mega-current_page_item > a {
    background: #127B06 !important; }
  div#mega-menu-wrap-primary .widget_text h4.mega-block-title {
    background: #053264;
    font-size: 25px !important;
    padding: 10px !important;
    text-align: center; }
  div#mega-menu-wrap-primary .widget_text h4.mega-block-title:after {
    content: "";
    display: block;
    float: left;
    width: 100px;
    height: 1px;
    position: absolute;
    background: black;
    top: 35%;
    left: 30%;
    z-index: 99; }
  div#mega-menu-wrap-primary .widget_text .textwidget {
    background: #053264 !important;
    padding: 10px !important; }
  div#mega-menu-wrap-primary .menu li.menu-item-has-children ul li a {
    font-size: 12px !important;
    display: block !important;
    width: 100% !important; }
  div#mega-menu-wrap-primary .menu li.menu-item-has-children ul li a:before {
    content: "-";
    display: inline-block !important;
    font-size: 12px;
    margin-right: 4px; }
  div#mega-menu-wrap-primary .menu > li > a:before {
    content: "";
    display: block !important;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #F0F0F0;
    float: left;
    margin-left: -11px;
    margin-top: 6px;
    float: left; }

div#mega-menu-wrap-primary .menu li ul {
  display: block !important;
  overflow: visible !important;
  height: 100% !important; }

ul.mega-sub-menu {
  padding: 0px 15px 0 30px !important; }

#navbar-sticky-wrapper button.navbar-toggle {
  display: none; }

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  padding: 15px 15px 15px 3px; }

@font-face {
  font-family: "PT_sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptc55f-webfont.woff2") format("woff2"), url("../fonts/ptc55f-webfont.woff") format("woff"), url("../fonts/ptc55f-webfont.ttf") format("truetype"), url("../fonts/ptc55f-webfont.svg#PT_sans") format("svg"); }
@font-face {
  font-family: "glyphicons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons") format("svg"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#Roboto") format("svg"); }
@font-face {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fa") format("svg"); }
@font-face {
  font-family: "RalewayR";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#RalewayR") format("svg"); }
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald") format("svg"); }
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg"); }
.glyphicon-phone:before {
  content: ""; }

#logged-in {
  padding-top: 32px; }

html {
  margin: 0 !important;
  padding: 0 !important; }

body.home.page h1.entry-title {
  display: none; }

#logged-in .is-sticky {
  top: 32px; }

.is-sticky {
  position: fixed !important;
  top: 0;
  z-index: 9999999 !important;
  width: 100%; }

body {
  overflow-x: hidden; }

.single-post .entry-content {
  font-family: Roboto; }
  .single-post .entry-content p {
    color: #313130;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left; }

.body-admissions table {
  background-color: #6d74ab; }

.body-about-us .about_us > li:nth-child(2) {
  display: block; }

.body-about-us .about_us > li {
  display: none; }

.body-academics .about_us > li:nth-child(3) {
  display: block; }

.body-academics .about_us > li {
  display: none; }

.body-school-life .about_us > li:nth-child(4) {
  display: block; }

.body-school-life .about_us > li {
  display: none; }

.body-admissions .about_us > li:nth-child(5) {
  display: block; }

.body-admissions .about_us > li {
  display: none; }

.body-contact .about_us > li:nth-child(7) {
  display: block; }

.body-contact .about_us > li {
  display: none; }

.img_box_1 img, .img_box_2 img {
  height: 217px;
  margin: 10px 3px !important; }
.img_box_1 > div, .img_box_2 > div {
  padding: 0 !important; }

.img_box_2 p {
  margin-left: 10%;
  font-weight: bold; }

.img_box_1 p {
  margin-right: 10%;
  font-weight: bold; }

body.archive.category .banner {
  height: auto;
  overflow: hidden; }
  body.archive.category .banner img {
    width: 100%; }

ul.square_list {
  padding-left: 15px; }
  ul.square_list li {
    margin-bottom: 13px;
    padding-left: 0; }

body .banner {
  width: 100%; }

.vfb-radio label {
  display: block !important;
  position: relative !important;
  margin-bottom: 24px !important; }

h1.wps-spottitle {
  color: #fff !important;
  display: none; }

/* IE5.5 hacks */
* html #lang_sel,
* html #lang_sel_list {
  width: 12em; }

* html #lang_sel a,
* html #lang_sel_list a {
  width: 112px; }

* html #lang_sel a:visited,
* html #lang_sel_list a:visited {
  width: 112px; }

* html #lang_sel ul ul,
* html #lang_sel_list ul {
  top: 18px; }

* html #lang_sel ul ul a,
* html #lang_sel_list ul a {
  width: 150px; }

* html #lang_sel ul ul a:visited,
* html #lang_sel_list ul a:visited {
  width: 150px; }

/* remove all the bullets, borders and padding from the default list styling */
#lang_sel {
  height: 32px;
  position: relative;
  font-family: verdana, arial, sans-serif;
  display: inline-block;
  /* style the table so that it takes no part in the layout - required for IE to work */
  /* style the top level hover */ }

#lang_sel ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
  /* hide the sub levels and give them a positon absolute so that they take up no room */ }

#lang_sel ul li:hover ul, #lang_sel ul a:hover ul {
  visibility: visible; }

#lang_sel ul ul {
  width: 112px;
  visibility: hidden;
  position: absolute;
  height: 0;
  top: 23px;
  left: 0;
  border-top: 1px solid #cdcdcd; }

#lang_sel ul ul a {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding-left: 10px;
  border-width: 0 1px 1px 1px; }

#lang_sel ul ul a:visited {
  background: #c3c3c2;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding: 0;
  border-width: 0 1px 1px 1px; }

#lang_sel li {
  float: left;
  width: 112px;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important; }

#lang_sel li:before {
  content: '' !important; }

#lang_sel a {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding-left: 10px;
  line-height: 22px; }

#lang_sel a:visited {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding-left: 10px;
  line-height: 22px; }

#lang_sel a.lang_sel_sel {
  background: url(../img/nav-arrow-down.png) #fff right no-repeat;
  color: #444; }

#lang_sel a.lang_sel_sel:hover {
  text-decoration: none;
  color: #000; }

#lang_sel table {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse; }

#lang_sel a:hover, #lang_sel ul ul a:hover, #lang_sel :hover > a, #lang_sel ul ul :hover > a {
  color: #000;
  background: #eee; }

#lang_sel img.iclflag {
  width: 18px;
  height: 12px;
  position: relative;
  top: -1px; }

#lang_sel.icl_rtl {
  text-align: right;
  direction: rtl; }

#lang_sel.icl_rtl .lang_sel_sel {
  padding-right: 14px; }

/* make the second level visible when hover on first level list OR link */
#lang_sel_footer {
  margin: 0;
  padding: 7px;
  text-align: center;
  font: 11px Verdana, sans-serif;
  min-height: 15px;
  clear: both;
  background-color: #fff;
  border: 1px solid #cdcdcd; }

#lang_sel_footer ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#lang_sel_footer ul li {
  display: inline;
  margin: 0 1px 0 0;
  padding: 0;
  white-space: nowrap;
  line-height: 25px; }

#lang_sel_footer ul li img {
  position: relative;
  top: 1px;
  width: 18px;
  height: 12px; }

#lang_sel_footer ul li a {
  text-decoration: none;
  padding: 5px 10px; }

#lang_sel_footer ul li a:visited {
  text-decoration: none;
  padding: 5px 10px; }

#wpml_credit_footer {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  font-size: 11px; }

/* remove all the bullets, borders and padding from the default list styling */
#lang_sel_list {
  height: 32px;
  position: relative;
  z-index: 1;
  font-family: verdana, arial, sans-serif;
  /* style the table so that it takes no ppart in the layout - required for IE to work */ }

#lang_sel_list ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important; }

#lang_sel_list ul li:hover ul, #lang_sel_list ul a:hover ul {
  visibility: visible; }

#lang_sel_list ul.lang_sel_list_vertical {
  width: 112px; }

#lang_sel_list ul a {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em; }

#lang_sel_list li {
  float: left;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important; }

#lang_sel_list li:before {
  content: '' !important; }

#lang_sel_list a {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  background: #fff;
  line-height: 18px;
  padding-left: 5px; }

#lang_sel_list a:visited {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  background: #fff;
  line-height: 18px;
  padding-left: 5px; }

#lang_sel_list a.lang_sel_sel {
  background-image: none;
  color: #444; }

#lang_sel_list a.lang_sel_sel:hover {
  text-decoration: none;
  color: #000; }

#lang_sel_list.lang_sel_list_vertical {
  width: 112px;
  /* hide the sub levels and give them a positon absolute so that they take up no room */ }

#lang_sel_list.lang_sel_list_vertical ul {
  /*visibility:hidden;position:absolute;*/
  height: 0;
  top: 19px;
  left: 0;
  border-top: 1px solid #cdcdcd; }

#lang_sel_list.lang_sel_list_vertical ul a {
  padding: 3px 10px; }

#lang_sel_list.lang_sel_list_vertical li {
  width: 112px; }

#lang_sel_list.lang_sel_list_vertical a {
  border: 1px solid #cdcdcd;
  border-top-width: 0;
  padding-left: 10px; }

#lang_sel_list.lang_sel_list_vertical a:visited {
  border: 1px solid #cdcdcd;
  border-top-width: 0;
  padding-left: 10px; }

#lang_sel_list table {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse; }

#lang_sel_list img.iclflag {
  width: 18px;
  height: 12px;
  position: relative;
  top: 1px; }

/* style the second level links */
#lang_sel_list_list ul a:visited {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding: 3px 10px; }

/* reset menu img definitions */
.menu-item-language img.iclflag {
  height: 12px !important;
  width: 18px !important;
  margin-bottom: 0 !important;
  margin-right: 4px; }

.banner {
  display: block;
  margin-top: -56px;
  position: relative; }
  .banner .responsive-slider {
    margin-bottom: 0; }
  .banner .banner-image img {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .banner ol.flex-control-nav {
    visibility: hidden; }

.slides li {
  margin-right: 0 !important; }

.responsive-slider.flexslider .slides img {
  width: 100%; }
.responsive-slider.flexslider .slide-title a .slider_text {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  color: #232323;
  font-family: PT_Sans;
  line-height: 1;
  padding: 20px 170px 20px 70px; }
  .responsive-slider.flexslider .slide-title a .slider_text .red {
    color: #e5322c; }
  .responsive-slider.flexslider .slide-title a .slider_text .blue {
    color: #0052ad; }
.responsive-slider.flexslider .slide-title a:hover .slider_text {
  color: initial;
  background: rgba(255, 255, 255, 0.78); }

.responsive-slider.flexslider .slide-title a, .responsive-slider.flexslider .slide-title a:hover {
  background: transparent;
  top: 0;
  margin-top: 5%;
  right: 0;
  padding: 0; }

div#scroll_to {
  margin: 0 auto;
  margin-top: -37px; }
  div#scroll_to span.btn_srcoll {
    display: block;
    margin: 0 auto;
    text-align: center; }
    div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down {
      margin: 0 auto;
      position: relative;
      z-index: 1;
      font-size: 40px;
      top: -60px;
      color: #fff; }
      div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down span {
        display: none; }
    div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down:hover span {
      display: block;
      margin-top: -49px;
      font-size: 26px;
      font-family: OpenSans;
      float: left;
      margin-left: 35px;
      background: rgba(253, 253, 253, 0.56);
      padding: 8px;
      color: #000; }

.banner_shadow {
  display: none; }

#box_section .box_1 {
  background: #49c5df;
  min-height: 260px; }
  #box_section .box_1 .title {
    background: #059fdf; }
#box_section .box_2 {
  background: #fc9536;
  min-height: 260px; }
  #box_section .box_2 .title {
    background: #ffbd35; }
#box_section .box_3 {
  background: #4d968b;
  min-height: 260px; }
  #box_section .box_3 .title {
    background: #3c7e74; }
#box_section .box_4 {
  background: #c0d145;
  min-height: 260px; }
  #box_section .box_4 .title {
    background: #b0c039; }
#box_section .box_1 > div, #box_section .box_2 > div, #box_section .box_3 > div, #box_section .box_4 > div {
  color: #fff;
  padding: 0 !important;
  text-align: center;
  font-family: RalewayR; }
  #box_section .box_1 > div .wpb_text_column, #box_section .box_2 > div .wpb_text_column, #box_section .box_3 > div .wpb_text_column, #box_section .box_4 > div .wpb_text_column {
    padding: 0 30px; }
  #box_section .box_1 > div .vc_icon_element-icon, #box_section .box_2 > div .vc_icon_element-icon, #box_section .box_3 > div .vc_icon_element-icon, #box_section .box_4 > div .vc_icon_element-icon {
    color: #fff !important; }
  #box_section .box_1 > div .vc_sep_line, #box_section .box_2 > div .vc_sep_line, #box_section .box_3 > div .vc_sep_line, #box_section .box_4 > div .vc_sep_line {
    visibility: hidden; }
  #box_section .box_1 > div h4, #box_section .box_2 > div h4, #box_section .box_3 > div h4, #box_section .box_4 > div h4 {
    font-size: 36px;
    color: #fff;
    padding: 10px !important;
    line-height: 1;
    margin: 0 !important; }
  #box_section .box_1 > div .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner, #box_section .box_2 > div .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner, #box_section .box_3 > div .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner, #box_section .box_4 > div .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    border: 0;
    width: 50px;
    height: 50px; }
  #box_section .box_1 > div .wpb_single_image, #box_section .box_2 > div .wpb_single_image, #box_section .box_3 > div .wpb_single_image, #box_section .box_4 > div .wpb_single_image {
    margin-bottom: 9px; }
    #box_section .box_1 > div .wpb_single_image img, #box_section .box_2 > div .wpb_single_image img, #box_section .box_3 > div .wpb_single_image img, #box_section .box_4 > div .wpb_single_image img {
      width: 50px;
      height: 50px; }
  #box_section .box_1 > div .wpb_content_element, #box_section .box_2 > div .wpb_content_element, #box_section .box_3 > div .wpb_content_element, #box_section .box_4 > div .wpb_content_element {
    margin-bottom: 20px; }
  #box_section .box_1 > div .widget_text .textwidget a, #box_section .box_1 > div .widget_text .textwidget a:hover, #box_section .box_2 > div .widget_text .textwidget a, #box_section .box_2 > div .widget_text .textwidget a:hover, #box_section .box_3 > div .widget_text .textwidget a, #box_section .box_3 > div .widget_text .textwidget a:hover, #box_section .box_4 > div .widget_text .textwidget a, #box_section .box_4 > div .widget_text .textwidget a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none; }

.about .vc_column-inner {
  padding-top: 0 !important; }
.about .about_us {
  font-family: RalewayR;
  font-size: 14px; }
  .about .about_us .vc_column-inner {
    padding-top: 0 !important; }
  .about .about_us .vc_sep_line {
    height: 0;
    border-top: 0; }
  .about .about_us .wpb_content_element {
    color: #2d2d2d;
    line-height: 1.5; }
.about h4 {
  font-family: Oswald;
  color: #00458d;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
  padding-top: 94px !important;
  padding-bottom: 60px !important; }

.leran_more_btn {
  padding: 0 0 102px !important;
  margin: 0; }
  .leran_more_btn .padding_between {
    background: #E5322C;
    padding: 4px;
    width: 268px;
    margin: 0 auto; }
    .leran_more_btn .padding_between button {
      padding: 6px 50px !important;
      background: #e5322c !important;
      color: #fff !important;
      text-transform: uppercase;
      font-size: 24px !important;
      border: 1px solid #e9514b !important; }

.director_box_1, .director_box_2, .director_box_3, .director_box_4 {
  line-height: 0; }

.news_section {
  margin: 0; }
  .news_section .latest_news_block {
    background-image: url("../images/shadow.png");
    background-repeat: no-repeat;
    background-position: 492px; }
    .news_section .latest_news_block .vc_gitem-is-link {
      width: 100%;
      height: 150px;
      display: inline-block;
      border: 3px solid #d0ddc8; }
    .news_section .latest_news_block .vc_gitem-post-data {
      margin-bottom: 5px; }
    .news_section .latest_news_block .vc_gitem-animated-block {
      display: inline-block;
      width: 33%;
      float: left; }
    .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
      width: 60%;
      float: left;
      background: #efefef !important;
      font-size: 14px !important;
      color: #2d2d2d;
      font-family: PT_Sans;
      height: 150px;
      margin-left: 5px; }
      .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c h4 {
        font-size: 14px;
        color: #1b436b;
        margin-bottom: 0;
        padding-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px; }
    .news_section .latest_news_block .vc_custom_heading p:nth-child(2) {
      height: 60px;
      overflow: hidden;
      line-height: 1.4;
      padding-right: 10px;
      margin-bottom: 20px; }
    .news_section .latest_news_block .vc_btn3.vc_btn3-color-juicy-pink, .news_section .latest_news_block .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
      background: transparent;
      color: #2d2d2d;
      padding: 0;
      border-bottom: 1px solid #2d2d2d;
      border-radius: 0; }
  .news_section h2 {
    font-family: Oswald; }
  .news_section .latest_news_post .vc_grid.vc_row .vc_grid-item {
    padding-right: 0px; }

.calendar {
  padding-left: 50px;
  /*  .ai1ec-clearfix {
     // display: none;
    }*/ }
  .calendar a.ai1ec-date-title.ai1ec-load-view {
    background: #efefef; }
  .calendar a.ai1ec-date-title.ai1ec-load-view {
    background: #efefef; }
  .calendar .timely.ai1ec-calendar-toolbar.ai1ec-clearfix {
    display: none; }
  .calendar .ai1ec-date {
    background-image: linear-gradient(to right, #b5b4b4 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    border-top: 0px !important;
    padding-bottom: 20px;
    margin-bottom: 15px; }
  .calendar #ai1ec-calendar {
    margin-top: -10px; }
  .calendar .ai1ec-event-summary-footer {
    display: none; }
  .calendar .ai1ec-event-toggle {
    display: none; }
  .calendar .ai1ec-event {
    border: 0 !important;
    box-shadow: 0 0 0 !important; }
  .calendar .ai1ec-pull-left {
    display: none; }
  .calendar a.ai1ec-date-title.ai1ec-load-view {
    width: 75px;
    margin-left: 0px; }
  .calendar .ai1ec-month {
    background: #1b436b !important;
    height: 24px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: OpenSans; }
  .calendar .ai1ec-month:before {
    content: " ";
    display: block;
    width: 6px;
    height: 9px;
    background: #000;
    position: absolute;
    border: 1px solid #fff;
    left: 10px;
    margin-top: -8px; }
  .calendar .ai1ec-month:after {
    content: " ";
    display: block;
    width: 6px;
    height: 9px;
    background: #000;
    position: absolute;
    border: 1px solid #fff;
    left: 57px;
    margin-top: -24px; }
  .calendar .ai1ec-day {
    font-size: 24px !important;
    padding: 8px !important;
    font-family: Oswald;
    line-height: 1; }
  .calendar .ai1ec-weekday {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    font-family: OpenSans; }
  .calendar .ai1ec-event-time {
    font-size: 14px !important;
    color: #57686f;
    font-family: OpenSans;
    padding-top: 5px;
    font-style: italic; }
    .calendar .ai1ec-event-time span.ai1ec-allday-badge {
      background: #4b9021 !important;
      border-radius: 0;
      text-transform: capitalize;
      display: block;
      padding: 5px 8px;
      width: 61px;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      font-style: normal;
      margin-top: 10px; }
  .calendar span.ai1ec-event-title {
    font-size: 16px !important;
    margin-top: -10px !important;
    display: block;
    margin-bottom: 0px !important;
    font-family: OpenSans;
    display: inline-block; }
  .calendar .ai1ec-event {
    margin: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important; }
  .calendar .ai1ec-event-description {
    display: none; }

.ai1ec-date.ai1ec-today {
  background: linear-gradient(to right, #b5b4b4 33%, rgba(255, 255, 255, 0) 0%) !important;
  background-position: bottom !important;
  background-size: 6px 1px !important;
  background-repeat: repeat-x !important; }

.ai1ec-clearfix {
  display: none; }

.instagram h2 {
  font-family: Oswald; }
@media only screen and (min-width: 1024px) {
  .instagram .sbi_item.sbi_type_image:nth-child(1) a, .instagram .sbi_item.sbi_type_video:nth-child(1) a {
    height: 258px !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(2) a, .instagram .sbi_item.sbi_type_video:nth-child(2) a {
    height: 285px !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(3) a, .instagram .sbi_item.sbi_type_video:nth-child(3) a {
    height: 330px !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(4) a, .instagram .sbi_item.sbi_type_video:nth-child(4) a {
    height: 372px !important;
    margin-top: -71px; }
  .instagram .sbi_item.sbi_type_image:nth-child(5) a, .instagram .sbi_item.sbi_type_video:nth-child(5) a {
    height: 343px !important;
    margin-top: -43px; }
  .instagram .sbi_item.sbi_type_image:nth-child(6) a, .instagram .sbi_item.sbi_type_video:nth-child(6) a {
    height: 300px !important; } }

/*.instagram {
  height: 642px;
  @include respond-to(handhelds) {
    height: 300px;
  }
  @include respond-to(medium-screens) {
    width: 400px;
  }
  @include respond-to(wide-screens) {
    height: 642px;
  }
}*/
.academics {
  font-family: RalewayR; }
  .academics .academics_image {
    border: 4px solid #1b436b;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 17% 32px; }
  .academics h2 {
    font-family: Oswald; }
  .academics h4 {
    font-size: 24px;
    margin: 0; }
  .academics h5 {
    font-size: 18px !important;
    margin-bottom: 0;
    margin-top: 5px; }
  .academics a, .academics a:hover {
    color: #69a205;
    font-size: 14px;
    text-decoration: none; }

.education_section .education_blocks .education_post_1 figure, .education_section .education_blocks .education_post_1 .vc_single_image-wrapper, .education_section .education_blocks .education_post_1 img {
  width: 100%; }
.education_section .education_blocks .education_post_1 .bilingual_text {
  display: block;
  position: absolute;
  bottom: 45px;
  background: #fff;
  padding: 20px 100px 20px 40px;
  z-index: 50; }
  .education_section .education_blocks .education_post_1 .bilingual_text .title {
    font-family: RalewayR;
    font-size: 40px;
    color: #374149;
    line-height: 1; }
    .education_section .education_blocks .education_post_1 .bilingual_text .title strong {
      color: #731d45; }
  .education_section .education_blocks .education_post_1 .bilingual_text p {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 8px; }
  .education_section .education_blocks .education_post_1 .bilingual_text a, .education_section .education_blocks .education_post_1 .bilingual_text a:hover {
    font-family: OpenSans;
    font-size: 14px;
    color: #141414;
    border-bottom: 1px solid #141414;
    margin-bottom: 2px;
    text-decoration: none; }
.education_section .education_blocks .education_post_2 figure, .education_section .education_blocks .education_post_2 .vc_single_image-wrapper, .education_section .education_blocks .education_post_2 img, .education_section .education_blocks .education_post_1 figure, .education_section .education_blocks .education_post_1 .vc_single_image-wrapper, .education_section .education_blocks .education_post_1 img {
  width: 100%; }
.education_section .education_blocks .education_post_2 h2, .education_section .education_blocks .education_post_1 h2 {
  font-family: RalewayR;
  font-size: 40px;
  display: inline;
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 15px;
  z-index: 10;
  text-decoration: none; }
  .education_section .education_blocks .education_post_2 h2 strong, .education_section .education_blocks .education_post_1 h2 strong {
    color: #31c44e;
    font-weight: normal;
    display: block; }
.education_section .education_blocks .education_post_2 a, .education_section .education_blocks .education_post_2 a:hover, .education_section .education_blocks .education_post_1 a, .education_section .education_blocks .education_post_1 a:hover {
  text-decoration: none;
  color: #fff; }
.education_section .education_blocks #triangleBlack, .education_section .education_blocks #triangleBlack1 {
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
  width: 0;
  top: 0;
  height: 0;
  border-style: solid;
  border-width: 569px 0 0 606px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.28); }
.education_section .education_blocks #triangleBlack {
  left: 0; }

.services_section {
  font-family: RalewayR; }
  .services_section .services_image {
    border: 4px solid #439539;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 17% 32px; }
  .services_section h3 {
    padding-top: 27px !important;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3 !important; }
  .services_section .leran_more_btn {
    padding: 100px !important; }
  .services_section h2 {
    font-family: Oswald; }

.how_to_work h2 {
  font-family: Oswald; }
.how_to_work .vc_single_image-wrapper {
  margin-bottom: 60px; }
.how_to_work .video_inside {
  width: 600px;
  margin: 0 auto;
  margin-bottom: -355px; }

.contact_section {
  border-top: 4px solid #5CA353 !important; }
  .contact_section h5 {
    font-family: RalewayR;
    text-transform: uppercase; }
  .contact_section h4 {
    font-size: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    color: #00458d; }
  .contact_section .vc_separator h4 {
    font-size: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    color: #00458d; }
  .contact_section .vc_icon_element .vc_icon_element-inner {
    width: 67px !important;
    height: 67px !important; }
  .contact_section h3 {
    text-transform: uppercase;
    font-family: OpenSans !important; }
  .contact_section p {
    text-align: center;
    color: #8b8b8b;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 1.4 !important; }
  .contact_section .single_image_footer {
    border-top: 2px solid #dddcdc !important; }

.footer_side .image_footer_full_size img {
  display: inline-block;
  margin-top: -45px; }
.footer_side .text_title p {
  font-size: 33px;
  font-family: RalewayR;
  color: #102c49;
  text-transform: uppercase;
  padding-top: 15px; }
  .footer_side .text_title p strong {
    color: #fff;
    font-weight: normal; }

.blue_footer .footer_box_1, .blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
  color: #fff;
  font-family: OpenSans;
  position: relative;
  z-index: 999; }
  .blue_footer .footer_box_1 h5, .blue_footer .footer_box_2 h5, .blue_footer .footer_box_3 h5, .blue_footer .footer_box_4 h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding: 0 0 26px 0; }
  .blue_footer .footer_box_1 p, .blue_footer .footer_box_1 a, .blue_footer .footer_box_1 a:hover, .blue_footer .footer_box_2 p, .blue_footer .footer_box_2 a, .blue_footer .footer_box_2 a:hover, .blue_footer .footer_box_3 p, .blue_footer .footer_box_3 a, .blue_footer .footer_box_3 a:hover, .blue_footer .footer_box_4 p, .blue_footer .footer_box_4 a, .blue_footer .footer_box_4 a:hover {
    line-height: 1.3;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
.blue_footer .footer_box_3 p a i {
  width: 20px;
  line-height: 1.5; }
.blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
  background: transparent;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #3e6b9c;
  height: 30px;
  width: 100%; }
.blue_footer .footer_box_4 label {
  display: none; }
.blue_footer .footer_box_4 input:focus, .blue_footer .footer_box_4 textarea:focus, .blue_footer .footer_box_4 input:visited, .blue_footer .footer_box_4 textarea:visited {
  outline: 0; }
.blue_footer .footer_box_4 textarea {
  height: 70px; }
.blue_footer .footer_box_4 button[type="submit"] {
  text-transform: uppercase;
  color: #fff;
  height: 30px;
  padding: 8px;
  background-color: #439539;
  font-family: OpenSans;
  border-radius: 0; }
.blue_footer .footer_box_4 div {
  padding: 0; }
.blue_footer .wpb_single_image.wpb_content_element.vc_align_center {
  position: absolute;
  left: 0;
  right: 0;
  top: 155px;
  background: #053264;
  z-index: 1;
  text-align: center; }
  .blue_footer .wpb_single_image.wpb_content_element.vc_align_center figure.wpb_wrapper.vc_figure {
    position: relative; }
.blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
  background-image: url("../images/border.png");
  background-repeat: no-repeat;
  height: 200px;
  padding-left: 15px; }
.blue_footer .angle_image img {
  margin-top: -2.2%;
  margin-bottom: 2%; }
.blue_footer h4 {
  font-size: 16px;
  color: #d5dde0;
  line-height: 1;
  text-align: left;
  text-transform: uppercase; }
.blue_footer .vc_toggle_title {
  margin-bottom: 15px; }
.blue_footer .footer_box_1 .panel {
  margin-bottom: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .blue_footer .footer_box_1 .panel .panel-heading {
    color: #333333;
    background-color: transparent !important;
    border-color: transparent;
    padding: 0;
    border: 0; }
.blue_footer .footer_box_1 h4.panel-title a {
  font-size: 16px; }
.blue_footer .footer_box_1 .panel-body {
  border: 0 !important; }

.copyright h2 {
  margin-top: 0px;
  margin-bottom: 0; }

#blue_footer_section {
  height: 338px; }
  #blue_footer_section h5 {
    font-size: 16px;
    color: #d5dde0;
    line-height: 1;
    text-align: left; }

div#copyright_section {
  position: absolute;
  width: 100%;
  z-index: 99999999999;
  margin-top: 0px !important;
  background: #0052ad !important; }
  div#copyright_section h2 {
    font-size: 14px;
    color: #afd2f9;
    line-height: 1;
    text-align: left;
    padding: 20px 0px; }

.wps-spothelper.wps-unselectable {
  background-image: url("../images/pin.png");
  background-repeat: no-repeat;
  background-position: 50%; }

#taggingimage:hover .wps-sticky {
  display: block !important; }

.wps-sticky {
  display: none !important; }

div#green_footer_section {
  position: relative;
  display: inline-block;
  left: 0px;
  box-sizing: border-box;
  width: 100% !important;
  margin: 0px 0px -5px 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  background-color: #439539 !important;
  opacity: 1 !important; }

div#blue_footer_section {
  position: relative;
  display: inline-block;
  left: 0px;
  box-sizing: border-box;
  width: 100% !important;
  margin: 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  background-color: #053264 !important;
  opacity: 1;
  height: 100%;
  min-height: 390px; }

.box_section .vc_single_image-wrapper.vc_box_border_grey img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
.box_section .vc_single_image-wrapper.vc_box_border_grey img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.academics .vc_single_image-wrapper img:hover {
  -webkit-transform: rotateX(-360deg);
  -moz-transform: rotateX(-360deg);
  -o-transform: rotateX(-360deg);
  -ms-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
  transition: 2s;
  transform-style: preserve-3d; }

.services_section .vc_single_image-wrapper img:hover {
  -webkit-transform: rotateX(-360deg);
  -moz-transform: rotateX(-360deg);
  -o-transform: rotateX(-360deg);
  -ms-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
  transition: 2s;
  transform-style: preserve-3d; }

.adverts_section .vc_single_image-wrapper img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
.adverts_section .vc_single_image-wrapper img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.under_header_color {
  display: block;
  width: 100%; }
  .under_header_color .box_1, .under_header_color .box_2, .under_header_color .box_3, .under_header_color .box_4 {
    width: 25%;
    float: left;
    margin-right: 0;
    height: 11px; }
  .under_header_color .box_1 {
    background: #059fdf; }
  .under_header_color .box_2 {
    background: #ffbd35; }
  .under_header_color .box_3 {
    background: #3c7e74; }
  .under_header_color .box_4 {
    background: #b0c039; }

.inner_page input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  display: block; }
.inner_page label {
  font-family: OpenSans;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left; }
.inner_page select {
  padding: 6px;
  border-radius: 3px; }
.inner_page textarea {
  height: 70px;
  margin-bottom: 10px; }
.inner_page button {
  border-radius: 0;
  margin-bottom: 30px;
  background: #C6DCB9;
  font-size: 14px;
  font-weight: 400;
  color: #2D2D39;
  border: 1px solid #56664D;
  font-family: OpenSans; }
.inner_page header h1, .inner_page header h2 {
  font-family: PT_sans;
  color: #00458d;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  padding: 55px 0;
  text-transform: capitalize;
  word-wrap: break-word; }
.inner_page h3 {
  font-family: OpenSans;
  font-size: 27px;
  color: #419438;
  line-height: 32px;
  display: inline-block; }
  .inner_page h3 p {
    background: #00458d;
    font-size: 18px;
    padding: 0px;
    margin: 0;
    color: #ffffff;
    line-height: 1;
    text-align: center; }
.inner_page .sidebar_menu {
  margin-bottom: 100px; }
  .inner_page .sidebar_menu ul li {
    list-style-type: none;
    margin-bottom: 10px; }
    .inner_page .sidebar_menu ul li a {
      font-family: OpenSans;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      width: 300px;
      background: #efefef;
      border: 1px solid #c6dcb9;
      padding: 10px 16px;
      display: inline-block; }
    .inner_page .sidebar_menu ul li a.active {
      background: #439539 !important;
      color: #fff !important; }
    .inner_page .sidebar_menu ul li a.active:after {
      content: "\f068";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      float: right;
      color: #fff;
      font-size: 14px;
      margin-top: 4px; }
    .inner_page .sidebar_menu ul li ul {
      padding: 0;
      width: 300px;
      overflow: hidden;
      background: #c6dcb9; }
      .inner_page .sidebar_menu ul li ul li {
        margin: 0; }
        .inner_page .sidebar_menu ul li ul li a {
          background: #c6dcb9;
          font-size: 14px;
          /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 32px;
          /* Approximation due to font substitution */
          text-align: left;
          border-bottom: 1px solid #b6c9ab;
          padding: 6px 34px; }
        .inner_page .sidebar_menu ul li ul li .active {
          color: #1b1b1b !important;
          background: #fff !important;
          margin-left: 3px !important; }
        .inner_page .sidebar_menu ul li ul li a.active:after {
          float: right;
          color: #000000;
          font-size: 14px;
          margin-top: 8px;
          margin-right: -14px; }
        .inner_page .sidebar_menu ul li ul li a:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid #56664d;
          float: left;
          margin-left: -19px;
          margin-top: 11px;
          float: left; }
        .inner_page .sidebar_menu ul li ul li a:after {
          display: none !important; }
        .inner_page .sidebar_menu ul li ul li ul li .active {
          margin-left: 6px !important;
          background: #ccc !important; }
        .inner_page .sidebar_menu ul li ul li ul li a {
          margin-left: 6px;
          background: #A3D170; }
        .inner_page .sidebar_menu ul li ul li ul li ul li a {
          margin-left: 9px !important;
          background: #8FB367; }
        .inner_page .sidebar_menu ul li ul li ul li ul li .active {
          margin-left: 9px !important;
          background: #888 !important; }
  .inner_page .sidebar_menu ul .menu-item-has-children a:after {
    content: "\f067";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    float: right;
    color: #000;
    font-size: 14px;
    margin-top: 4px; }
.inner_page ul.about_us li a {
  width: 100%; }
.inner_page ul.about_us li ul {
  width: 100%; }
.inner_page p {
  font-family: OpenSans;
  color: #2d2d2d;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 22px;
  /* Approximation due to font substitution */
  text-align: left; }
  .inner_page p img {
    display: block;
    margin: 5px auto; }
  .inner_page p img.alignright {
    float: right;
    margin: 5px 0 5px 20px !important; }
  .inner_page p img.alignleft {
    float: left;
    margin: 5px 20px 5px 0px !important; }
.inner_page #directors .director_box_1 img, .inner_page #directors .director_box_2 img, .inner_page #directors .director_box_3 img, .inner_page #directors .director_box_4 img {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
.inner_page #directors .director_box_1 img:hover, .inner_page #directors .director_box_2 img:hover, .inner_page #directors .director_box_3 img:hover, .inner_page #directors .director_box_4 img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
.inner_page #directors .director_box_1 h4, .inner_page #directors .director_box_2 h4, .inner_page #directors .director_box_3 h4, .inner_page #directors .director_box_4 h4 {
  margin: 0;
  padding: 34px 0 0 0;
  font-family: RalewayR; }
.inner_page #directors .director_box_1 p, .inner_page #directors .director_box_2 p, .inner_page #directors .director_box_3 p, .inner_page #directors .director_box_4 p {
  font-family: RalewayR;
  font-size: 16px;
  text-align: center;
  color: #2d2d2d; }
.inner_page #directors .border_around_1 img, .inner_page #directors .border_around_2 img, .inner_page #directors .border_around_3 img, .inner_page #directors .border_around_4 img {
  border-radius: 0;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
.inner_page #directors .director_box_1 > div, .inner_page #directors .director_box_2 > div, .inner_page #directors .director_box_3 > div, .inner_page #directors .director_box_4 > div {
  margin-bottom: 80px; }
.inner_page #directors .border_around_1 img {
  position: relative !important;
  top: 148px !important;
  left: -35px !important;
  margin-top: -146px !important; }
.inner_page #directors .border_around_3 img {
  position: relative !important;
  top: 148px !important;
  left: 36px !important;
  margin-top: -146px !important; }
.inner_page #directors h3 {
  margin: 0;
  font-family: RalewayR;
  margin-bottom: 35px; }
.inner_page .entry-content {
  margin-bottom: 100px;
  line-height: 2; }
.inner_page table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
  font-family: OpenSans; }
  .inner_page table td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0; }

ul#menu-submenu {
  padding: 0; }

span.the_directors_content {
  font-size: 25px;
  color: #004b97;
  line-height: 30px;
  font-weight: 400; }

.inner_page .sidebar_menu ul li ul li.menu-item-has-children > a:after {
  display: block !important;
  /* content: "\f067";
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;*/
  float: right;
  color: #000;
  font-size: 14px;
  margin-top: 6px;
  margin-right: -17px; }

.inner_page .sidebar_menu ul > li > ul > li.menu-item-has-children > a.active:after {
  display: block !important;
  content: "\f068";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  float: right;
  color: #000;
  font-size: 14px;
  margin-top: 8px;
  margin-right: -14px; }

.entry-footer {
  font-family: Roboto; }

.blog_page h3.blog_title {
  background: #00458d;
  font-size: 18px;
  font-family: OpenSans;
  padding: 24px;
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff; }
.blog_page .single_post {
  color: #fff;
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
  width: 100%; }
  .blog_page .single_post .title a, .blog_page .single_post .title a:hover {
    font-family: Roboto;
    color: #00458d;
    font-size: 24px;
    /* Approximation due to font substitution */
    font-weight: 300;
    text-align: left;
    text-decoration: none;
    width: 50%;
    display: inline-block; }
  .blog_page .single_post .social {
    float: right;
    width: 50%; }
    .blog_page .single_post .social .bottomcontainerBox {
      display: block; }
    .blog_page .single_post .social .bottomcontainerBox > div {
      float: right !important; }
  .blog_page .single_post .bottomcontainerBox {
    display: none; }
  .blog_page .single_post .time {
    background: #00458d;
    width: 78px;
    height: 84px; }
    .blog_page .single_post .time span {
      display: block;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      padding: 5px; }
    .blog_page .single_post .time .day {
      color: #ffffff;
      font-size: 30px;
      /* Approximation due to font substitution */
      font-weight: 400;
      text-align: center; }
    .blog_page .single_post .time .month {
      font-size: 14px; }
    .blog_page .single_post .time .year {
      background: #ef4135;
      font-size: 15px;
      height: 25px;
      padding: 5px; }
  .blog_page .single_post .content, .blog_page .single_post p {
    font-family: Roboto;
    color: #313130;
    font-size: 16px;
    /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px;
    /* Approximation due to font substitution */
    text-align: left; }
  .blog_page .single_post .line_box {
    display: block;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    margin: 12px 0 40px; }
    .blog_page .single_post .line_box .box {
      width: 30%;
      height: 4px;
      background: #2777a8;
      display: block;
      float: left;
      margin-top: -3px; }
  .blog_page .single_post .read_more {
    display: inline-block;
    padding: 30px 0; }
    .blog_page .single_post .read_more a {
      text-decoration: none;
      color: #2777a8;
      font-family: Roboto;
      text-transform: capitalize;
      font-size: 16px; }
  .blog_page .single_post .author {
    color: #000;
    font-style: italic;
    font-family: Roboto; }
    .blog_page .single_post .author a {
      color: #2777a8; }
    .blog_page .single_post .author ul.post-categories {
      padding: 0;
      display: inline-block; }
      .blog_page .single_post .author ul.post-categories li {
        list-style-type: none;
        display: inline-block; }
  .blog_page .single_post .col-md-2, .blog_page .single_post .col-md-10 {
    padding: 0; }
    .blog_page .single_post .col-md-2 img, .blog_page .single_post .col-md-10 img {
      width: 30%;
      float: left;
      padding-right: 10px; }
.blog_page .blog_content {
  padding-top: 90px; }
.blog_page .blog_sidebar_menu {
  padding-right: 50px;
  background-image: url("../images/shadow.png");
  background-repeat: no-repeat;
  background-position: 274px 0;
  padding-top: 90px; }
  .blog_page .blog_sidebar_menu h4, .blog_page .blog_sidebar_menu h2.widget-title {
    background: #439539;
    font-family: OpenSans;
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 10px;
    text-transform: capitalize; }
  .blog_page .blog_sidebar_menu .sp_post_static {
    background: #efefef; }
    .blog_page .blog_sidebar_menu .sp_post_static .post-image-bg {
      display: none; }
    .blog_page .blog_sidebar_menu .sp_post_static .post-content .post-title, .blog_page .blog_sidebar_menu .sp_post_static .post-content a {
      margin: 0;
      line-height: 1;
      font-family: OpenSans;
      color: #1b1b1b;
      font-size: 14px; }
    .blog_page .blog_sidebar_menu .sp_post_static .post-content .post-date {
      margin: 0;
      font-family: Roboto;
      color: #2777a8;
      font-size: 14px;
      display: block; }
    .blog_page .blog_sidebar_menu .sp_post_static .post-grid {
      position: relative;
      padding: 0;
      margin-bottom: 0;
      text-align: left;
      border-bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 30px; }
  .blog_page .blog_sidebar_menu .popular {
    padding: 35px 0; }
    .blog_page .blog_sidebar_menu .popular ul {
      padding: 0; }
      .blog_page .blog_sidebar_menu .popular ul li {
        padding: 10px 0 10px 25px;
        border-bottom: 1px solid #b6c9ab;
        list-style-type: none;
        background: #efefef; }
        .blog_page .blog_sidebar_menu .popular ul li a {
          color: #000;
          font-family: OpenSans;
          text-decoration: none; }
        .blog_page .blog_sidebar_menu .popular ul li a:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid #56664d;
          float: left;
          margin-left: -15px;
          margin-top: 0px;
          float: left; }
    .blog_page .blog_sidebar_menu .popular .tagcloud {
      padding-top: 30px; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a, .blog_page .blog_sidebar_menu .popular .tagcloud a:hover {
        text-decoration: none;
        font-family: Roboto;
        color: #00458d; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(1) {
        font-size: 18px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(2) {
        font-size: 19px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(3) {
        font-size: 26px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(4) {
        font-size: 27px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(5) {
        font-size: 16px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(6) {
        font-size: 25px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(7) {
        font-size: 21px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(8) {
        font-size: 29px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(9) {
        font-size: 23px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(10) {
        font-size: 31px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(11) {
        font-size: 22px !important; }
      .blog_page .blog_sidebar_menu .popular .tagcloud a:nth-child(12) {
        font-size: 30px !important; }

.entry-content .bottomcontainerBox {
  display: none; }

.pagination {
  display: block; }
  .pagination .wp-pagenavi {
    float: right;
    margin-bottom: 50px; }
    .pagination .wp-pagenavi span.current {
      background: #00458d;
      color: #fff;
      font-weight: normal; }
    .pagination .wp-pagenavi span, .pagination .wp-pagenavi a {
      color: #000;
      border: 0;
      font-family: OpenSans;
      font-size: 14px;
      background: #dcdada; }
    .pagination .wp-pagenavi span.pages {
      display: none; }

.category .blog_page h3.blog_title {
  background: #4b9021; }
  .category .blog_page h3.blog_title p {
    background: #4b9021; }

body.archive.tag .banner, body.single .banner {
  height: 600px;
  overflow: hidden;
  width: 100%; }

body.archive.tag .banner img, body.single .banner img {
  width: 100%; }

div#outerImageContainer {
  width: 80% !important;
  height: auto !important; }

#lightboxImage {
  height: auto !important;
  width: 100% !important; }

#imageDataContainer {
  width: 80% !important; }

#prevLink {
  height: 100% !important; }

#nextLink {
  height: 100% !important; }

.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item {
  text-align: center; }

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative; }

.gallery {
  float: left; }

nav.navigation.post-navigation {
  margin: 0 15px 60px; }

.entry-meta {
  display: block;
  margin-bottom: 10px; }
  .entry-meta span.posted-on {
    margin-left: -15px; }

body.single .blog_page .blog_sidebar_menu {
  margin-bottom: 50px; }
body.single nav.navigation.post-navigation {
  margin: 0 0px 60px; }
body.single .inner_page .entry-content {
  margin-bottom: 50px;
  line-height: 2; }
body.single .inner_page.blog_page {
  margin-top: 100px; }
body.single span.the_directors_content {
  display: block;
  margin-bottom: 27px; }
body.single .navigation .nav-box {
  width: 48%; }
body.single .navigation .nav-box a {
  color: #004990; }
body.single .navigation .nav-box a img {
  background: #efefef;
  padding: 2px;
  border: 1px solid #dfdfdf;
  min-height: inherit;
  width: auto;
  width: 240px;
  height: 143px;
  display: block;
  margin-top: 23px;
  position: absolute; }
body.single .navigation .nav-box a:hover {
  color: #439639; }
body.single .navigation .previous img {
  float: left;
  margin-right: 10px;
  left: 15px; }
body.single .navigation .next img {
  float: right;
  margin-left: 10px;
  right: 15px; }
body.single .navigation {
  float: left;
  width: 100%;
  height: 260px;
  margin-top: 35px; }

/*********responsive********/
@media only screen and (max-width: 768px) {
  .education_section .education_blocks .education_post_2 h2 {
    bottom: 0;
    padding-bottom: 10px !important; }
  .education_section .education_blocks .education_post_1 h2 {
    bottom: 30px;
    padding-bottom: 10px !important; }

  .blog_page .blog_sidebar_menu {
    background: none;
    padding-right: 0; }

  div#triangleBlack, div#triangleBlack1 {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.44) !important;
    border-color: transparent !important; }

  .inner_page #directors .border_around_1 img {
    position: relative !important;
    top: 148px !important;
    left: -34px !important;
    margin-top: -143px !important; }

  ul#menu-sidebar-menu {
    margin-left: 0;
    padding: 0; }

  .inner_page #directors .border_around_3 img {
    position: relative !important;
    top: 148px !important;
    left: 36px !important;
    margin-top: -143px !important; }

  body.archive.category .banner {
    height: auto;
    overflow: hidden; }
    body.archive.category .banner img {
      width: 100%; }

  body.single .blog_page .blog_sidebar_menu {
    margin: 0;
    padding: 0;
    margin-top: -100px; }

  body.archive.tag .banner, body.single .banner {
    height: auto;
    overflow: hidden;
    width: 100%; }

  header .container {
    padding-left: 0 !important; }
    header .container div#mega-menu-wrap-primary {
      width: 100%; }
      header .container div#mega-menu-wrap-primary .mega-menu-toggle {
        height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-left: 10px; }
        header .container div#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-left {
          float: left;
          margin-left: -2px;
          margin-top: -5px; }
      header .container div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
        line-height: 39px !important;
        height: 39px !important;
        width: 100%;
        background: rgba(94, 106, 138, 0.75); }
      header .container div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a:hover.mega-menu-link {
        background: #7DAF5F; }

  /*header*/
  #navbar-sticky-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent; }
    #navbar-sticky-wrapper button.navbar-toggle {
      float: left;
      background: transparent;
      color: #000;
      border: 0; }
      #navbar-sticky-wrapper button.navbar-toggle span {
        background-color: #000000; }

  .search-form_header {
    display: none !important; }

  .logo img {
    margin: 0 auto;
    margin-top: 0px; }

  div#bs-example-navbar-collapse-1 {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 9999; }
    div#bs-example-navbar-collapse-1 ul li {
      width: 100%;
      background: #fff; }
      div#bs-example-navbar-collapse-1 ul li a {
        color: #000;
        border-bottom: 1px dotted #000;
        padding-left: 30px !important; }

  nav.navbar.navbar-default .navbar-collapse.collapse.in {
    display: none !important; }

  nav#navbar-sticky-wrapper .container {
    margin: 0;
    padding-right: 0; }
    nav#navbar-sticky-wrapper .container div#bs-example-navbar-collapse-1 {
      padding-right: 0; }
      nav#navbar-sticky-wrapper .container div#bs-example-navbar-collapse-1 .navbar-nav {
        margin: 0px -15px; }

  .container_full_size .header_sector span.simple_text {
    padding: 8px 0 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 15px; }
  .container_full_size .header_sector .info .telephone_number {
    display: none; }
  .container_full_size .header_sector .info .social {
    padding-bottom: 0px;
    float: left;
    margin-left: 0;
    width: 30%; }
  .container_full_size .header_sector .info .lang {
    width: 70%;
    float: right; }
    .container_full_size .header_sector .info .lang span.login {
      padding-top: 0;
      padding-left: 15%; }
      .container_full_size .header_sector .info .lang span.login a {
        font-size: 12px; }

  .banner {
    margin-top: 0px;
    min-height: auto !important; }

  .responsive-slider.flexslider .slide-title a {
    margin-top: 0;
    font-size: 12px;
    padding: 11px 10px 10px 20px;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 0;
    width: 60%;
    text-align: center; }
  .responsive-slider.flexslider h2 {
    display: none; }

  div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down {
    top: -30px; }

  .about .about_us .vc_separator.vc_separator_align_center h4 {
    font-size: 25px; }
  .about .about_us .wpb_content_element {
    padding-top: 30px !important;
    padding-bottom: 0px !important; }
  .about .about_us .leran_more_btn {
    padding: 0 0 30px !important;
    margin: 0; }
    .about .about_us .leran_more_btn button {
      font-size: 14px !important; }

  .leran_more_btn .padding_between {
    width: 210px; }

  .news_section .vc_grid-item-mini.vc_clearfix {
    padding-right: 30px; }
  .news_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important; }
  .news_section .latest_news_block {
    background-image: none; }
    .news_section .latest_news_block .vc_gitem-is-link {
      width: 100%;
      height: 110px; }
    .news_section .latest_news_block .vc_gitem-animated-block {
      width: 100%; }
    .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
      width: 100%;
      font-size: 12px !important;
      height: 110px;
      margin: 0; }
    .news_section .latest_news_block .vc_custom_heading p:nth-child(2) {
      height: 33px;
      overflow: hidden;
      line-height: 1.4;
      padding-right: 10px;
      margin-bottom: -4px; }
  .news_section .latest_news_post {
    padding: 0 !important; }

  .calendar {
    padding-left: 0; }

  .instagram h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(3) a, .instagram .sbi_item.sbi_type_video:nth-child(3) a {
    display: none !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(4) a, .instagram .sbi_item.sbi_type_video:nth-child(4) a {
    display: none !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(5) a, .instagram .sbi_item.sbi_type_video:nth-child(5) a {
    display: none !important; }
  .instagram .sbi_item.sbi_type_image:nth-child(6) a, .instagram .sbi_item.sbi_type_video:nth-child(6) a {
    display: none !important; }

  .academics h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important; }
  .academics .vc_col-sm-3 {
    margin-bottom: 50px; }
  .academics h4, .academics h5 {
    font-size: 16px !important; }

  .education_section {
    padding: 30px 0 !important; }
    .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
      padding: 18px 13px;
      right: 0;
      left: 25%;
      width: 300px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element .title {
        font-size: 17px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element p {
        font-size: 12px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a, .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a:hover {
        font-size: 12px; }

  .services_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important; }
  .services_section h3 {
    font-size: 16px !important; }
  .services_section .circle_1 {
    padding: 8% 32px; }
  .services_section .circle_2 {
    padding: 6% 32px; }
  .services_section .circle_3 {
    padding: 6% 32px; }
  .services_section .vc_col-sm-4 {
    margin-bottom: 50px; }
  .services_section .leran_more_btn {
    padding: 10px !important;
    padding-bottom: 100px !important; }

  #work_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 20px !important; }
  #work_section img {
    padding: 25px;
    width: 320px; }
  #work_section .video_inside {
    width: 258px;
    margin: 0 auto;
    margin-bottom: -178px; }

  .footer_side .vc_single_image-wrapper.vc_box_border_grey {
    display: none; }
  .footer_side p {
    font-size: 21px !important;
    text-align: center;
    padding: 10px !important; }

  .blue_footer h4 {
    text-align: center !important; }
  .blue_footer .angle_image {
    display: none; }
  .blue_footer .footer_box_1, .blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
    height: auto !important;
    padding-left: 0 !important;
    background-image: none !important;
    margin-top: 10px !important; }
    .blue_footer .footer_box_1 h5, .blue_footer .footer_box_2 h5, .blue_footer .footer_box_3 h5, .blue_footer .footer_box_4 h5 {
      padding: 12px !important;
      text-align: center !important; }
    .blue_footer .footer_box_1 p, .blue_footer .footer_box_1 a, .blue_footer .footer_box_1 a:hover, .blue_footer .footer_box_2 p, .blue_footer .footer_box_2 a, .blue_footer .footer_box_2 a:hover, .blue_footer .footer_box_3 p, .blue_footer .footer_box_3 a, .blue_footer .footer_box_3 a:hover, .blue_footer .footer_box_4 p, .blue_footer .footer_box_4 a, .blue_footer .footer_box_4 a:hover {
      text-align: center !important; }
  .blue_footer .footer_box_4 {
    margin-bottom: 30px; }
    .blue_footer .footer_box_4 input[type="submit"] {
      margin-top: 30px; }
  .blue_footer .wpb_single_image.wpb_content_element.vc_align_center {
    top: initial !important;
    bottom: 0; }

  .copyright {
    margin: 0 !important; }

  .how_to_work .vc_single_image-wrapper {
    margin-bottom: 0px; }

  #green_footer_section .footer_side .text_title p {
    font-size: 19px !important; }
  #green_footer_section .col-md-3 {
    display: none; } }
@media (min-width: 300px) and (max-width: 480px) {
  .academics .circle_1 {
    padding: 14% 32px; }
  .academics .circle_2 {
    padding: 16% 32px; }
  .academics .circle_3 {
    padding: 15% 32px; }
  .academics .circle_4 {
    padding: 15% 32px; }

  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
    padding: 18px 13px;
    right: 0;
    left: 10%;
    width: 300px; }

  .leran_more_btn .padding_between button {
    font-size: 14px !important; } }
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .blog_page .blog_sidebar_menu {
    background: none;
    padding-right: 0; }

  .search-form_header {
    display: none !important; }

  .logo img {
    margin: 0 auto;
    margin-top: 0px; }

  .about .about_us .vc_separator.vc_separator_align_center h4 {
    font-size: 36px !important; }
  .about .about_us .wpb_content_element {
    padding: 30px 0 0 0 !important; }

  .container_full_size .header_sector span.simple_text {
    padding: 8px 0 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 15px; }
  .container_full_size .header_sector .info .telephone_number {
    margin: 0 auto;
    text-align: center; }
  .container_full_size .header_sector .info .social {
    padding-bottom: 0px;
    float: left;
    margin-left: 0;
    width: 43%;
    padding-right: 3%; }
  .container_full_size .header_sector .info .lang {
    width: 57%;
    float: right; }
    .container_full_size .header_sector .info .lang span.login {
      padding-top: 0; }
      .container_full_size .header_sector .info .lang span.login a {
        font-size: 12px; }

  .banner {
    margin-top: 0px;
    min-height: auto !important; }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px; }

  nav.navbar.navbar-default .navbar-collapse {
    padding-left: 7%; }

  .responsive-slider.flexslider .slide-title a {
    margin-top: 2%;
    font-size: 23px; }

  h2 {
    font-size: 36px !important;
    padding: 30px 0 !important; }

  .news_section .latest_news_block {
    background-image: none; }
    .news_section .latest_news_block .vc_gitem-is-link {
      width: 110px;
      height: 110px; }
    .news_section .latest_news_block .vc_gitem-animated-block {
      width: 115px; }
    .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
      width: 65%;
      font-size: 12px !important;
      height: 110px; }
    .news_section .latest_news_block .vc_custom_heading p:nth-child(2) {
      height: 33px;
      overflow: hidden;
      line-height: 1.4;
      padding-right: 10px;
      margin-bottom: -4px; }
    .news_section .latest_news_block .vc_grid.vc_row .vc_grid-item {
      padding-right: 30px;
      width: 100%; }
  .news_section .latest_news_post {
    padding: 0 !important; }

  .education_section {
    padding: 30px 0 !important; }
    .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
      padding: 18px 13px;
      right: 0;
      left: 25%;
      width: 300px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element .title {
        font-size: 17px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element p {
        font-size: 12px; }
      .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a, .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a:hover {
        font-size: 12px; }

  .services_section h2 {
    padding: 30px 0px !important; }

  .footer_side p {
    font-size: 24px;
    padding-top: 22px; }

  .copyright {
    margin-top: 117px !important; }
    .copyright h2 {
      font-size: 14px !important; }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    background: transparent;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #3e6b9c;
    height: 30px;
    width: 200px; }

  .mega-menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px; }

  ul#mega-menu-primary {
    width: 100% !important;
    background: rgba(5, 50, 100, 0.76) !important; }

  ul#mega-menu-primary li {
    width: 100% !important; } }
@media only screen and (max-width: 1225px) and (min-width: 1023px) {
  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px;
    padding: 21px 5px; }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px; }

  .copyright {
    margin-top: 115px !important; }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    width: 200px; }

  #box_section .box_1 > div h4, #box_section .box_2 > div h4, #box_section .box_3 > div h4, #box_section .box_4 > div h4 {
    min-height: 92px;
    word-wrap: break-word; } }
@media (min-width: 768px) and (max-width: 1100px) {
  .news_section .latest_news_block {
    background-image: none; }
    .news_section .latest_news_block .vc_gitem-is-link {
      width: 100%;
      height: 150px;
      display: inline-block;
      border: 3px solid #d0ddc8; }
    .news_section .latest_news_block .vc_gitem-post-data {
      margin-bottom: 5px; }
    .news_section .latest_news_block .vc_gitem-animated-block {
      display: inline-block;
      width: 33%;
      float: left; }
    .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
      width: 60%;
      float: left;
      background: #efefef !important;
      font-size: 14px !important;
      color: #2d2d2d;
      font-family: PT_Sans;
      height: 150px;
      margin-left: 5px; }
      .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c h4 {
        font-size: 14px;
        color: #1b436b;
        margin-bottom: 0;
        padding-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px; }

  #box_section .box_1 {
    background: #49c5df;
    min-height: 365px; }
    #box_section .box_1 .title {
      background: #059fdf; }
  #box_section .box_2 {
    background: #fc9536;
    min-height: 365px; }
    #box_section .box_2 .title {
      background: #ffbd35; }
  #box_section .box_3 {
    background: #4d968b;
    min-height: 365px; }
    #box_section .box_3 .title {
      background: #3c7e74; }
  #box_section .box_4 {
    background: #c0d145;
    min-height: 365px; }
    #box_section .box_4 .title {
      background: #b0c039; }

  .instagram .sbi_item.sbi_type_image:nth-child(3) a, .instagram .sbi_item.sbi_type_video:nth-child(3) a {
    display: block !important; }

  .education_section .education_blocks .education_post_2 h2 {
    bottom: 0;
    padding-bottom: 10px !important; }
    .education_section .education_blocks .education_post_2 h2 strong {
      display: block; }
  .education_section .education_blocks .education_post_1 h2 {
    bottom: 30px;
    padding-bottom: 10px !important; }
    .education_section .education_blocks .education_post_1 h2 strong {
      display: block; }

  #box_section .box_1 > div h4, #box_section .box_2 > div h4, #box_section .box_3 > div h4, #box_section .box_4 > div h4 {
    min-height: 92px;
    word-wrap: break-word;
    font-size: 30px; } }
@media (min-width: 769px) and (max-width: 1100px) {
  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px;
    text-align: center; }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    float: left;
    width: 100px !important; }

  .container_full_size .is-sticky a.navbar-brand {
    display: none !important; }

  div#triangleBlack, div#triangleBlack1 {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.44) !important;
    border-color: transparent !important; }

  .education_section .education_blocks .education_post_1 h2 {
    bottom: 0px;
    padding-bottom: 10px !important; } }
/********* end responsive********/
