.multi-language-field .qtranslate_text,
.multi-language-field .qtranslate_textarea {
	clear: both;
}
.multi-language-field {
	margin-top: -5px;
}
body.post-type-acf-field-group #acf-col-wrap #acf-col-main .subsubsub.icl_subsubsub{
	clear: left !important;
}
body.post-type-acf-field-group #acf-col-wrap #acf-col-main .subsubsub.icl_subsubsub ul {
	margin: 0px;
}