#contentlong {
min-height:430px;
/*min-width:503px;*/
width:100%;
padding:10px;
color:#646567;
font-size:12px;
position:relative;
}

#contentlong p {
margin-bottom:6px;
}
#contentlong ul li label h1{
    font-size: 1.1em;
    font-weight: normal;
	text-transform:uppercase;
	width:600px;
}
#contentlong ul li {
	list-style-type: disc;
    margin-left: 12px;
	margin-bottom:2px;
    padding: 2px 10px;
}

#contentlong ol li {
	list-style-type: decimal;
    margin-left: 12px;
	margin-bottom:2px;
    padding: 0;
}

#contentlong h1 {
padding-left:0px;
color:#112d6c;
}
#contentlong {
color:#646567;
}

#contentlong h1 {
color:#39852a;
}

#contentlong  input[type=text], #contentlong input[type=password], #contentlong textarea{ 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:1em;
	margin-bottom:2px;
	padding:3px;
	max-width:340px;
	width:100%;
}
#contentlong button, #contentlong input[type="submit"], #contentlong input[type="button"], #contentlong input[type="reset"]{
    background: none repeat scroll 0 0 #004389;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 0 0 3px;
/*padding: 7px 4px;*/
}
#contentlong select {
padding:4px 3px;
width:340px;
}

#contentlong ul, #contentlong .quest, #contentlong .quest li { 
	margin:0; 
	padding:0; 
	list-style: none;
	list-style-type: none;
}

#contentlong .quest li {
	line-height: 24px;
}


#contentlong label, #contentlong .login {
	display:inline-block !important;
	display:inline;
	zoom:1;
	width:250px;
	vertical-align: middle;
	padding-right:10px;
	font-size:13px;
}

#contentlong span.login_info, #contentlong .upload_status {
	margin-left:8px;
	display:block;
	margin-bottom:4px;
	font-size:0.95em;
}

#contentlong h1 {
width:680px;
}

#contentlong input[type=textbox], #contentlong select, #contentlong textarea {
	min-width:250px !important;
}

#contentlong textarea {
height: 64px;
vertical-align:20px;
margin-bottom:5px;
}


#contentlong ul{
	list-style-type:none; 
	padding:0px;
	margin:40px 10px 10px 10px;
	min-height:410px;
}

#contentlong ul li{
	list-style-type:none !important; 
}

#contentlong li{
	line-height:22px;
border-bottom:1px solid #eee;
}

#contentlong .by_step{
	position:absolute;
	top:0px;
/*	width:700px; */
width:100%;
}

#contentlong .step {
    display: inline-block !important;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5% 0 0;
    text-align: right;
    width: 55%;
}
#contentlong .by_step a, #contentlong .step_empty {
	display:inline-block !important;
	display:inline;
	zoom:1;
	/*width:100px;*/
}

.failed { color:#711e1e; border:2px solid #711e1e; background-color:#e9a1a1; }

#ValidationMsg {
border: 1px solid #711e1e;
padding: 6px;
/*width: 655px;*/
width:100%;
color:#711e1e;
font-weight:bold;
background-color:#e9a1a1;
margin:55px 0 -20px 0;
}

#contentlong .by_step a, #contentlong .step_empty {
    display: inline-block !important;
}
a.frmbtn:hover{
    color: #000000;
}
a.frmbtn{
    background-color: #CACFD8;
    border: 1px solid #909AAB;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(144, 154, 171, 0.5), 0 0 5px rgba(126, 132, 142, 0.6) inset;
    color: #000000;
    font-weight: bold;
    padding: 4px 15px;
    text-decoration: none;
	margin:0 5px;
}
#contentlong label, #contentlong .login {
display: inline-block !important;
display: inline;
zoom: 1;
width: 200px;
vertical-align: middle;
}
#contentlong form[target=uploadFrame] input[type=submit]{
	padding:8px;
	font-size:14px;
}