/*
Theme Name: HautLac-2016
*/
@import "css/bootstrap.css";
@import "css/style.css";

.admin-bar-search {
    display: none;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0px;
}

.vfbp-form .vfb-inline-group .vfb-radio, .vfbp-form .vfb-inline-group .vfb-checkbox label {
    padding: 0 !important;
}

.vfbp-form .vfb-radio label, .vfbp-form .vfb-checkbox label {
    padding: 0;
}

.vfbp-form .vfb-inline-group .vfb-radio, .vfbp-form .vfb-inline-group .vfb-checkbox {
    float: none !important;
    margin-right: 30px !important;
    display: block !important;
    position: initial !important;
}

.wps-spotcontent img {
    width: 600px !important;
    height: 400px !important;
}

textarea.wps-spotcontenteditable {
    width: 600px;
}

.wps-spotbubble {
    width: 600px !important;
}

div#contact_section {
    padding-bottom: 30px !important;
}

h1.wps-spottitle {
    color: #fff !important;
    display: none;
}

@media (max-width: 768px) {
    .blog_page .single_post .col-md-2 img, .blog_page .single_post .col-md-10 img {
        width: 65%;
        float: left;
        padding-right: 10px;
    }

    .blog_page .single_post .title a {
        min-height: 100px;
    }

    ul#menu-sidebar-menu-french {
        margin: 0;
        padding: 0;
    }
}

.vfbp-form .vfb-radio input[type="radio"], .vfbp-form .vfb-radio-inline input[type="radio"], .vfbp-form .vfb-checkbox input[type="checkbox"], .vfbp-form .vfb-checkbox-inline input[type="checkbox"] {
    display: inline-block;
    position: static !important;
    width: 14px;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 10px !important;
}

body {
    overflow: hidden !important;

}

html {
    overflow-x: hidden;
}

#box_section .box_1 .title p, #box_section .box_2 .title p, #box_section .box_3 .title p, #box_section .box_4 .title p {
    display: none;
}

a.ai1ec-date-title.ai1ec-load-view {
    float: left;
}

.ai1ec-date-events {
    float: left;
    width: 80%;
}

.ai1ec-date {
    float: left;
    width: 100%;
}

.input-group-btn {
    position: absolute;
    right: 0;
}

.entry-content iframe {
    width: 100% !important;
}

nav.navbar.navbar-default {
    z-index: 10;
}

.academics .circle_1 {
    padding: 40px 30px;
}

.academics .circle_2 {
    padding: 51px 30px;
}

.academics .circle_3 {
    padding: 51px 32px;
}

.academics .circle_4 {
    padding: 47px 32px;
}

.services_section .circle_1 {
    padding: 47px 32px;
}

.services_section .circle_2 {
    padding: 40px;
}

.services_section .circle_3 {
    padding: 40px;
}

div#box_section {
    margin-top: -2px !important;
    float: left;
}

.calendar .ai1ec-event {
    border-radius: 0px !important;
}

.vfb-fieldType-captcha .g-recaptcha > div > div {
    width: 100% !important;
}

.g-recaptcha > div {
    width: 100% !important;
}

.vfb-fieldType-captcha .g-recaptcha > div > div > iframe {
    width: 236px;
    border-radius: 5px;
}

.vfb-fieldType-captcha .g-recaptcha > div > div > iframe .rc-anchor-normal-footer {
    display: none !important;
}

.article-thumb a {
    display: block;
    min-height: 145px;
    outline: none;
    position: relative;
}

.recent-articles > div {
    display: inline-block;
    float: left;
    margin-right: 3%;
    padding: 0px;
    margin-left: 0px;
    width: 30%;
    margin-bottom: 10px;
}

.article-thumb a img {
    max-width: 100%;
    height: 165px;
}

.recent-articles-wrapper:last-child .recent-articles > div {
    min-height: 200px;
}

.article-thumb iframe {
    width: 100%;
    height: 170px;
}

h3.article-title, h3.article-title a {
    font-size: 15px;
    display: block;
    background: #C6DCB9;
    margin: 0;
    padding: 9px;
    margin-top: -2px;
    min-height: 53px;
    line-height: 18px;
    color: #302323;
    text-decoration: none;
}

.wps-overlay {
    display: none !important;
}

#taggingimage
.wps-overlay {
    display: block !important;
}

#vfbp-running-total-box #vfbp-running-total{
    z-index: 99999999 !important;
    top: -10px;
    right: 6px;
}


.quicktags-toolbar input {
    width: 14%;
}

textarea.wp-editor-area {
    width: 100%!important;
    margin-top: 10px;
}


.vfb-fieldType-page-break {
    float: left;
    width: 100%;
    height: 20px;
    background: transparent;
}


.vfb-fieldType-knob input {
    position: relative!important;
    float: left;
}

.vfb-fieldType-knob canvas {
    float: left;
}


a.login_to_intr img {
    width: 40%;
}