body {
	background-color: #ebebeb;
}

#login {
  position:absolute; 
  left: 50%;  
  top: 50%; 
  width: 610px; 
  height: 458px; 
  margin-top: -229px;
  margin-left: -305px;
}

#login-box {
	width: 350px;
	height: 308px;
	padding: 150px 130px 0 130px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../image/login-bg.png) no-repeat left top;
}

#login-box img {
	border: 0;
	vertical-align: -2px;
	margin: 0 4px;
}

#login-box label {
	display: inline-block !important;
	display: inline;
	zoom: 1;
	width:80px;
	text-align: right;
	padding: 4px 10px 0 0;
	margin: 20px 0 10px 10px;
	line-height: 18px;
}

#login-box input {
	display:inline-block !important;
	display: inline;
	zoom: 1;
	width:200px;
	margin:0 0 7px 0;
	width: 205px;
	padding: 10px 4px 6px 10px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}

#login-box-title {
	margin: 15px 0 5px 0;
	text-align: center;
}

a.button {
	display: block;
	width: 158px;
	height: 42px;
	background: url(../image/login-bt.jpg) no-repeat 0px -42px;
	text-indent: -9999px;
	margin: 20px 0 0 100px;
}

a.button:hover {
	background: url(../image/login-bt.jpg) no-repeat 0px 0px;
}

.form-login  {

}